<mat-form-field class="form-field-lg">
  <mat-label> {{ SharedLocalization.name }} </mat-label>
  <input [formControl]="form.controls.name" matInput />
  @if (form.controls.name.touched && form.controls.name.hasError('required')) {
    <mat-error>{{ SharedLocalization.fieldRequired }}</mat-error>
  }
  @if (form.controls.name.touched && form.controls.name.hasError('maxlength')) {
    <mat-error>{{ SharedLocalization.maxLength }} {{ MAX_NAME_LENGTH }}</mat-error>
  }
</mat-form-field>
<mat-form-field class="form-field-lg">
  <mat-label> {{ SharedLocalization.description }} </mat-label>
  <textarea [formControl]="form.controls.description" matInput></textarea>
  @if (form.controls.description.touched && form.controls.description.hasError('required')) {
    <mat-error>{{ SharedLocalization.fieldRequired }}</mat-error>
  }
  @if (form.controls.description.touched && form.controls.description.hasError('maxlength')) {
    <mat-error>{{ SharedLocalization.maxLength }} {{ MAX_DESCRIPTION_LENGTH }}</mat-error>
  }
</mat-form-field>
@if (!fileMetadata()) {
  <input #fileInput (change)="fileChanged()" type="file" hidden />
  <ui-flex-block gapSize="8" flexAlignItems="center">
    @if (!form.controls.file.value) {
      <button
        (click)="fileInput.click()"
        (blur)="form.controls.file.markAsTouched()"
        class="button-lg button-secondary"
        mat-flat-button
      >
        {{ FilesLocalization.selectFile }}
      </button>
    }
    @if (form.controls.file.value) {
      <p [title]="form.controls.file.value.name" ellipsis>{{ form.controls.file.value.name }}</p>
    }
    @if (form.controls.file.touched && form.controls.file.hasError('required')) {
      <mat-error>{{ FilesLocalization.fileRequired }}</mat-error>
    }
    @if (form.controls.file.value) {
      <button (click)="cancelFile()" class="icon-button-sm" mat-icon-button>
        <mat-icon class="icon-secondary">close</mat-icon>
      </button>
    }
    @if (selectors.uploadState()?.isLoading) {
      <mat-progress-spinner diameter="20" [value]="selectors.uploadState()?.progress" />
    }
    @if (selectors.uploadState()?.isDone) {
      <mat-icon class="icon-secondary" style="flex: 1 0 auto" [matTooltip]="FilesLocalization.uploaded">
        check_circle
      </mat-icon>
    }
    @if (selectors.uploadState()?.isError) {
      <mat-icon class="icon-error" style="flex: 1 0 auto" [matTooltip]="ErrorsLocalization.errorUploadingFile">
        error
      </mat-icon>
    }
  </ui-flex-block>
}
<ui-flex-block flexWrap="wrap">
  <mat-slide-toggle [formControl]="form.controls.isPublic" class="slide-toggle">
    {{ SharedLocalization.isPubliclyAvailable }}
  </mat-slide-toggle>
  <mat-slide-toggle [formControl]="form.controls.isActive" class="slide-toggle">
    {{ SharedLocalization.isActive }}
  </mat-slide-toggle>
</ui-flex-block>
<ui-flex-block>
  @if (!selectors.uploadState()?.isLoading) {
    @if (!fileMetadata()) {
      <button (click)="uploadFile()" class="button-lg button-secondary" mat-flat-button>
        {{ FilesLocalization.upload }}
      </button>
    } @else {
      @if (!selectors.isLoading()) {
        <button (click)="updateMetadata()" class="button-lg button-secondary" mat-flat-button>
          {{ SharedLocalization.save }}
        </button>
      } @else {
        <ui-skeleton height="40" width="124" />
      }
    }
  } @else {
    <ui-skeleton height="40" width="124" />
  }
</ui-flex-block>
