<ui-flex-block gapSize="8" flexAlignItems="center">
  @if (isSmallScreen()) {
    <button (click)="openSidenavMenu()" class="icon-button-sm" mat-icon-button>
      <mat-icon class="icon-primary">menu</mat-icon>
    </button>
  }
  <qrd-logo routerLink="/">
    @if (!isSmallScreen()) {
      <p class="bold on-primary-container-color">{{ HeaderLocalization.qrForBusiness }}</p>
    }
  </qrd-logo>
</ui-flex-block>
<ui-flex-block flexAlignItems="center">
  @if (!isSmallScreen() && selectors.isAuthenticated()) {
    <mat-nav-list class="header-navbar">
      @for (link of selectors.navbarLinks().list; track link.title) {
        <a
          class="header-navbar-link"
          [activated]="rla.isActive"
          [routerLink]="link.route"
          #rla="routerLinkActive"
          routerLinkActive="active"
          mat-list-item
        >
          {{ link.title }}
        </a>
      }
    </mat-nav-list>
  }
  <ui-flex-block [gapSize]="actionsFlexGapSize()" flexAlignItems="center">
    @if (selectors.isAuthenticated()) {
      <button
        (click)="openCreateOverlay()"
        class="icon-button-sm"
        mat-icon-button
        cdkOverlayOrigin
        #createTrigger="cdkOverlayOrigin"
      >
        <mat-icon class="icon-primary">dashboard_customize</mat-icon>
      </button>
      <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="createTrigger"
        [cdkConnectedOverlayOpen]="isCreateOverlayAttached()"
        [cdkConnectedOverlayPositions]="overlayPositions()"
        [cdkConnectedOverlayScrollStrategy]="createOverlayScrollStrategy"
        (overlayOutsideClick)="closeCreateOverlay()"
        (detach)="detachCreateOverlay()"
      >
        <create-menu-overlay
          overlayAnimation
          [isOpen]="isCreateOverlayOpen()"
          (animationDone)="onCreateOverlayClosed()"
          (closeOverlay)="closeCreateOverlay()"
        />
      </ng-template>
    }
    <button
      (click)="openThemeOverlay()"
      class="icon-button-sm"
      mat-icon-button
      paletteAnimation
      cdkOverlayOrigin
      #themeTrigger="cdkOverlayOrigin"
    >
      <mat-icon class="icon-primary" svgIcon="qrd:palette"></mat-icon>
    </button>
    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="themeTrigger"
      [cdkConnectedOverlayOpen]="isThemeOverlayAttached()"
      [cdkConnectedOverlayPositions]="overlayPositions()"
      [cdkConnectedOverlayScrollStrategy]="themeOverlayScrollStrategy"
      [cdkConnectedOverlayWidth]="240"
      (overlayOutsideClick)="closeThemeOverlay()"
      (detach)="detachThemeOverlay()"
    >
      <theme-picker-overlay
        overlayAnimation
        [isOpen]="isThemeOverlayOpen()"
        (animationDone)="onThemeOverlayClosed()"
        (closeClick)="closeThemeOverlay()"
      />
    </ng-template>
    @if (selectors.isAuthenticated()) {
      <mini-profile-info />
    } @else {
      <a routerLink="/login" class="button-md" mat-flat-button>{{ SharedLocalization.login }}</a>
    }
  </ui-flex-block>
</ui-flex-block>
@if (isSmallScreen()) {
  <bottom-navbar />
}
