<ui-flex-block gapSize="8" flexAlignItems="center">
  @if (isSmallScreen()) {
    <button (click)="openSidenavMenu()" class="qrd-icon-button-sm" mat-icon-button><ui-icon icon="sidenav" display="inline" /></button>
  }
  <qrd-logo routerLink="/">
    @if (!isSmallScreen()) {
      <p class="is-bold is-on-primary-container">{{ HeaderLocalization.qrForBusiness }}</p>
    }
  </qrd-logo>
</ui-flex-block>
<ui-flex-block gapSize="32" flexAlignItems="center">
  @if (!isSmallScreen() && selectors.isAuthenticated()) {
    <mat-nav-list class="qrd-header-navbar">
      @for (link of selectors.navbarLinks().list; track link.title) {
        <a class="qrd-header-navbar-link" [activated]="rla.isActive" [routerLink]="link.route" #rla="routerLinkActive" routerLinkActive="active" mat-list-item>
          {{ link.title }}
        </a>
      }
    </mat-nav-list>
  }
  <ui-flex-block [gapSize]="isSmallScreen() ? '8' : '32'" flexAlignItems="center">
    <button (click)="openOverlay()" class="qrd-icon-button-sm" mat-icon-button paletteAnimation cdkOverlayOrigin #trigger="cdkOverlayOrigin">
      <ui-icon icon="palette" cursor="pointer" display="inline" />
    </button>
    @if (selectors.isAuthenticated()) {
      <mini-profile-info />
    } @else {
      <a routerLink="/login" class="qrd-button-md" mat-flat-button>{{ SharedLocalization.login }}</a>
    }
    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="trigger"
      [cdkConnectedOverlayOpen]="isOverlayOpen()"
      [cdkConnectedOverlayPositions]="OVERLAY_POSITIONS()"
      [cdkConnectedOverlayScrollStrategy]="cdkConnectedOverlayScrollStrategy"
      [cdkConnectedOverlayWidth]="240"
      (overlayOutsideClick)="closeOverlay()"
      (detach)="closeOverlay()"
    >
      <theme-picker-overlay [@transformPanel]="isOverlayOpen() ? 'enter' : 'void'" (closeClick)="closeOverlay()" />
    </ng-template>
  </ui-flex-block>
</ui-flex-block>
@if (isSmallScreen()) {
  <bottom-navbar />
}
