<flex-block>
  @if (isXSmall()) {
    <button (click)="openSidenavMenu()" class="qrd-icon-button-sm" mat-icon-button><ui-icon icon="sidenav" display="inline" /></button>
  }
  <img ngSrc="/public/img/logo.png" alt="logo" width="40" height="40" />
</flex-block>
<flex-block gapSize="32" flexAlignItems="center">
  <flex-block gapSize="32">
    @for (link of linkList; track link.title) {
      <a class="nav-link" [routerLink]="link.route" [class.nav-link-active]="rla.isActive" routerLinkActive="active" #rla="routerLinkActive" mat-button>
        {{ link.title }}
      </a>
    }
  </flex-block>
  <flex-block gapSize="32">
    <button (click)="openOverlay()" class="qrd-icon-button-sm" mat-icon-button paletteAnimation cdkOverlayOrigin #trigger="cdkOverlayOrigin">
      <ui-icon icon="palette" cursor="pointer" display="inline" />
    </button>
    <a routerLink="/login" class="qrd-button-md" mat-flat-button>{{ SharedLocalization.LOGIN }}</a>
    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="trigger"
      [cdkConnectedOverlayOpen]="isOverlayOpen()"
      [cdkConnectedOverlayPositions]="OVERLAY_POSITIONS"
      [cdkConnectedOverlayScrollStrategy]="cdkConnectedOverlayScrollStrategy"
      [cdkConnectedOverlayWidth]="240"
      (overlayOutsideClick)="closeOverlay()"
      (detach)="closeOverlay()"
    >
      <theme-picker-overlay (closeClick)="closeOverlay()" />
    </ng-template>
  </flex-block>
</flex-block>
