@if (!selectors.isQrCardLoadErr()) {
  @if (!selectors.isQrCardLoading() && !selectors.gs1LabelsState().isGs1LabelListLoading) {
    <toolbar>
      <ng-container heading>
        @if (!isXSmall()) {
          <button
            class="button-anchor-md-with-icon"
            mat-button
            interactionEffect
            [targetSelectors]="['h1', 'mat-icon']"
            [style.height]="'auto'"
            [style.flex]="'auto'"
            [style.justify-content]="'start'"
            [style.overflow]="'hidden'"
            #anchor
            (click)="openCardPreview()"
          >
            <h1 truncate [host]="anchor._elementRef.nativeElement">QR №{{ selectors.qrCard()?.code | toHex }}</h1>
            <mat-icon class="icon-primary">open_in_new</mat-icon>
          </button>
        }
      </ng-container>
      <ng-container action-buttons>
        <a [routerLink]="`../${routeParams()['id']}/${AppRoutes.edit}`" class="button-md" mat-flat-button>
          {{ SharedLocalization.edit }}
        </a>
        @if (isSmallScreen()) {
          <more-menu>
            @if (!selectors.isDeleteInProgress()) {
              <button (click)="actions.deleteQrCards([selectors.qrCard()!.id], destroyRef, false, true)" mat-menu-item>
                <mat-icon>delete</mat-icon>
                {{ SharedLocalization.delete }}
              </button>
            } @else {
              <div disabled mat-menu-item>
                <ui-skeleton height="40" />
              </div>
            }
            <a
              [href]="`${selectors.configState().config.qrdConf?.qrUri}?q=${qrCardCode()}`"
              target="_blank"
              rel="noopener noreferrer"
              mat-menu-item
            >
              <mat-icon>open_in_new</mat-icon>
              {{ QrCardsLocalization.viewCard }}
            </a>
            <button (click)="qrCardsService.openPrint(qrCardCode())" mat-menu-item>
              <mat-icon>print</mat-icon>
              {{ SharedLocalization.print }}
            </button>
          </more-menu>
        } @else {
          @if (!selectors.isDeleteInProgress()) {
            <button
              (click)="actions.deleteQrCards([selectors.qrCard()!.id], destroyRef, false, true)"
              class="button-md"
              mat-flat-button
            >
              {{ SharedLocalization.delete }}
            </button>
          } @else {
            <ui-skeleton height="40" width="110" />
          }
          <button (click)="qrCardsService.openPrint(qrCardCode())" class="button-md" mat-flat-button>
            {{ SharedLocalization.print }}
          </button>
        }
      </ng-container>
    </toolbar>
    <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="tab-nav-bar">
      @for (link of tabLinks; track link.link) {
        <a [routerLink]="link.link" [active]="rla.isActive" #rla="routerLinkActive" routerLinkActive mat-tab-link>
          {{ link.title }}
        </a>
      }
    </nav>
    <mat-tab-nav-panel #tabPanel>
      <router-outlet />
    </mat-tab-nav-panel>
  } @else {
    <ui-skeleton height="44" />
    <ui-skeleton height="48" />
    <ui-skeleton height="160" />
    <ui-skeleton height="300" />
  }
} @else {
  <ui-alert type="danger" icon="error" [title]="ErrorsLocalization.errorFetchingCard" [isClosable]="false">
    <ui-flex-block>
      <button (click)="ngOnInit()" class="button-lg button-error" mat-flat-button>
        {{ SharedLocalization.refresh }}
      </button>
    </ui-flex-block>
  </ui-alert>
}
