:host {
  gap: var(--flex-gap-size);
  flex: var(--flex);
  display: var(--flex-display);
  overflow: var(--overflow);
  flex-flow: var(--flex-direction) var(--flex-wrap);
  align-self: var(--flex-align-self);
  align-items: var(--flex-align-items);
  justify-content: var(--flex-justify-content);
}
