<card-container [hideHeading]="true">
  <ng-container content>
    <ui-grid-block [gridTemplateColumns]="infoGridTemplateColumns()">
      @if (selectors.qrCard()?.form?.id) {
        <card-field [caption]="`${SharedLocalization.template}:`">
          <a
            [routerLink]="`/${AppRoutes.templates}/${selectors.qrCard()?.form?.id}`"
            class="button-anchor-md-with-icon"
            interactionEffect
            [targetSelectors]="['p', 'mat-icon']"
            mat-button
          >
            <p>{{ selectors.qrCard()?.form?.name | fallback: SharedLocalization.noName }}</p>
            <mat-icon class="icon-primary">open_in_new</mat-icon>
          </a>
        </card-field>
      }
      <card-field [caption]="`${SharedLocalization.cardPreview}:`">
        <ui-flex-block gapSize="2" flexAlignItems="center">
          <a
            href="#"
            class="primary-color"
            interactionEffect
            [targetSelectors]="['p', 'mat-icon']"
            (click)="$event.preventDefault(); openCardPreview()"
          >
            <ui-flex-block gapSize="4">
              <span>{{ qrCardLink() }}</span>
              <mat-icon class="icon-primary icon-xs">open_in_new</mat-icon>
            </ui-flex-block>
          </a>
          <copy-button [copyValue]="qrCardLink()" />
        </ui-flex-block>
      </card-field>
      <card-field [caption]="`${SharedLocalization.name}:`">
        {{ selectors.qrCard()?.name | fallback: SharedLocalization.noName }}
      </card-field>
      <card-field [caption]="`${SharedLocalization.description}:`">
        {{ selectors.qrCard()?.description | fallback: SharedLocalization.noDescription }}
      </card-field>
    </ui-grid-block>
  </ng-container>
</card-container>
<card-container>
  <ng-container heading>
    <h1>{{ RouteTitles.attrs }}</h1>
  </ng-container>
  <ng-container content>
    <collapsible-container>
      <ui-grid-block collapsibleList gridTemplateRows="auto" gridTemplateColumns="stretch">
        @for (field of selectors.qrCard()?.form?.fields; track field.id) {
          <attr-list-item
            collapsibleListItem
            [caption]="field.caption | fallback: field.name"
            [value]="selectors.qrCard()?.data?.[field.name]"
            [placeholder]="field.placeholder"
            [type]="field.fieldType"
            [isPublic]="field.isPublic"
            [isStatic]="field.isStatic"
          />
        } @empty {
          {{ SharedLocalization.noAttrs }}
        }
        @if (lostAttributes().length) {
          <h2>{{ RouteTitles.lostAttrs }}</h2>
          @for (lostAttr of lostAttributes(); track lostAttr.value) {
            <attr-list-item
              collapsibleListItem
              [caption]="lostAttr.value"
              [value]="lostAttr.viewValue"
              [hideIconAttrs]="true"
            />
          }
        }
      </ui-grid-block>
    </collapsible-container>
  </ng-container>
</card-container>

<card-container>
  <ng-container heading>
    <h1>{{ RouteTitles.files }}</h1>
  </ng-container>
  <ng-container content>
    <collapsible-container>
      <ui-grid-block collapsibleList gridTemplateRows="auto" gridTemplateColumns="stretch">
        @for (file of fileList(); track file.id) {
          <file-list-item
            collapsibleListItem
            [fileLink]="`/files/${file.id}`"
            [fileStorageType]="file.fileStorageType"
            [name]="file?.name ?? ''"
            [fileSize]="file.fileSize | bytesToSize"
            [isPublic]="file.isPublic"
            [isActive]="file.isActive"
            [updated]="(file.updated | date: 'short') ?? ''"
          />
        } @empty {
          <p collapsibleListItem>{{ SharedLocalization.noFiles }}</p>
        }
      </ui-grid-block>
    </collapsible-container>
  </ng-container>
</card-container>
