<card-container [hideHeading]="true">
  <ng-container content>
    <ui-grid-block [gridTemplateColumns]="infoGridTemplateColumns()">
      @if (selectors.qrCard()?.form?.id) {
        <card-field [caption]="`${SharedLocalization.template}:`">
          <a
            [routerLink]="`/${AppRoutes.templates}/${selectors.qrCard()?.form?.id}`"
            class="button-anchor-md-with-icon"
            interactionEffect
            [targetSelectors]="['p', 'mat-icon']"
            mat-button
          >
            <p>{{ selectors.qrCard()?.form?.name | fallback: SharedLocalization.noName }}</p>
            <mat-icon class="icon-primary">open_in_new</mat-icon>
          </a>
        </card-field>
      }
      <card-field [caption]="`${SharedLocalization.cardPreview}:`">
        <button
          class="button-anchor-md-with-icon"
          mat-button
          interactionEffect
          [targetSelectors]="['p', 'mat-icon']"
          (click)="openCardPreview()"
        >
          <p>QR №{{ selectors.qrCard()?.code | toHex }}</p>
          <mat-icon class="icon-primary">open_in_new</mat-icon>
        </button>
      </card-field>
      <card-field [caption]="`${SharedLocalization.name}:`">
        {{ selectors.qrCard()?.name | fallback: SharedLocalization.noName }}
      </card-field>
      <card-field [caption]="`${SharedLocalization.description}:`">
        {{ selectors.qrCard()?.description | fallback: SharedLocalization.noDescription }}
      </card-field>
    </ui-grid-block>
  </ng-container>
</card-container>
<card-container>
  <ng-container heading>
    <h1>{{ RouteTitles.files }}</h1>
  </ng-container>
  <ng-container content>
    <ui-flex-block flexDirection="column">
      @for (file of selectors.qrCard()?.files; track file.id) {
        <file-list-item
          [fileLink]="`/files/${file.id}`"
          [fileStorageType]="file.fileStorageType"
          [name]="file?.name ?? ''"
          [fileSize]="file.fileSize | bytesToSize"
          [isPublic]="file.isPublic"
          [isActive]="file.isActive"
          [updated]="(file.updated | date: 'short') ?? ''"
        />
      } @empty {
        {{ SharedLocalization.noFiles }}
      }
    </ui-flex-block>
  </ng-container>
</card-container>
