@if (!fileMetadata()) {
  <mat-nav-list role="list">
    @for (attachmentMode of attachmentModeList; track attachmentMode.mode) {
      <button
        (click)="actions.setFileAttachmentMode(attachmentMode.mode)"
        [activated]="selectors.fileAttachmentMode() === attachmentMode.mode"
        mat-list-item
      >
        {{ attachmentMode.title }}
      </button>
    }
  </mat-nav-list>
}
@if (selectors.fileAttachmentMode() === 'upload') {
  <file-upload-blob [fileMetadata]="fileMetadata()" (uploadCompleted)="uploadCompleted.emit($event)" />
}

@if (selectors.fileAttachmentMode() === 'fileUrl') {
  <file-as-url [fileMetadata]="fileMetadata()" (uploadCompleted)="uploadCompleted.emit($event)" />
}
