@for (error of errors; track error.title) {
  <ui-flex-block gapSize="12" flex="auto" flexAlignItems="center">
    <mat-icon class="icon-error" style="flex: 1 0 auto">error</mat-icon>
    <p>{{ ErrorsLocalization.errorCode }}: {{ error.code }} {{ error.title }}</p>
    @if ($first) {
      <button (click)="matSnackBarRef.dismiss()" class="icon-button-sm" mat-icon-button>
        <mat-icon class="icon-primary">close</mat-icon>
      </button>
    }
  </ui-flex-block>
  <p>{{ error.detail }}</p>
  @if (!$last) {
    <hr />
  }
}
