<p [title]="caption()" ellipsis>{{ caption() }}</p>
@if (!isValueEmpty()) {
  @if (isTextLike()) {
    <p [title]="value()" ellipsis>{{ value() }}</p>
  }
  @if (type() === 'TEXTAREA') {
    <p style="white-space: pre-line; word-wrap: break-word; hyphens: auto">{{ value() }}</p>
  }
  @if (type() === 'DATE') {
    <p ellipsis>{{ (value() ?? '' | date: 'shortDate') ?? value() }}</p>
  }
  @if (type() === 'EMAIL') {
    <a
      [title]="value()"
      [href]="`mailto:${value()}`"
      class="button-anchor-md"
      style="display: inline"
      mat-button
      interactionEffect
      ellipsis
    >
      {{ value() }}
    </a>
  }
} @else if (isValueEmpty() && placeholder() && isStatic()) {
  <p
    [title]="placeholder()"
    [matTooltip]="SharedLocalization.placeholder"
    matTooltipPosition="above"
    class="placeholder-value"
    ellipsis
  >
    {{ placeholder() }}
  </p>
} @else {
  <p></p>
}
@if (!hideIconAttrs()) {
  <ui-flex-block flexWrap="wrap">
    <button
      [matTooltip]="isPublic() ? SharedLocalization.isPublic : SharedLocalization.nonPubliclyAvailable"
      matTooltipPosition="above"
      class="mini-fab-sm mini-fab-primary"
      tabIndex="-1"
      mat-mini-fab
    >
      <mat-icon class="icon-on-secondary">{{ isPublic() ? 'visibility' : 'visibility_lock' }}</mat-icon>
    </button>
    <button
      [matTooltip]="isStatic() ? SharedLocalization.isStatic : SharedLocalization.nonStatic"
      matTooltipPosition="above"
      class="mini-fab-sm mini-fab-primary"
      tabIndex="-1"
      mat-mini-fab
    >
      <mat-icon class="icon-on-secondary">{{ isStatic() ? 'lock' : 'lock_open_right' }}</mat-icon>
    </button>
  </ui-flex-block>
} @else {
  <div></div>
}
