<p>{{ caption() }}</p>
<p>{{ value() }}</p>
<ui-flex-block>
  <button
    [matTooltip]="isPublic() ? SharedLocalization.isPublic : SharedLocalization.nonPublic"
    matTooltipPosition="above"
    class="mini-fab-icon-primary-button-circle-sm"
    tabIndex="-1"
    mat-mini-fab
  >
    <mat-icon class="icon-on-secondary">{{ isPublic() ? 'visibility' : 'visibility_lock' }}</mat-icon>
  </button>
  <button
    [matTooltip]="isStatic() ? SharedLocalization.isStatic : SharedLocalization.nonStatic"
    matTooltipPosition="above"
    class="mini-fab-icon-primary-button-circle-sm"
    tabIndex="-1"
    mat-mini-fab
  >
    <mat-icon class="icon-on-secondary">{{ isStatic() ? 'lock_open_right' : 'lock' }}</mat-icon>
  </button>
</ui-flex-block>
