@use '@angular/material' as mat;

.button-primary {
  @include mat.button-overrides(
    (
      filled-container-color: var(--mat-sys-primary),
    )
  );
}

.button-secondary {
  @include mat.button-overrides(
    (
      filled-container-color: var(--mat-sys-secondary),
    )
  );
}

.button-md {
  @include mat.button-overrides(
    (
      filled-container-shape: 8px,
      outlined-container-shape: 8px,
      filled-container-height: 40px,
      outlined-container-height: 40px,
      protected-container-height: 40px,
      text-container-height: 40px,
    )
  );
}

.button-lg {
  @include mat.button-overrides(
    (
      filled-container-shape: 8px,
      outlined-container-shape: 8px,
      filled-container-height: 48px,
      outlined-container-height: 48px,
      protected-container-height: 48px,
      text-container-height: 48px,
    )
  );
}

.button-xl {
  @include mat.button-overrides(
    (
      filled-container-shape: 8px,
      outlined-container-shape: 8px,
      filled-container-height: 56px,
      outlined-container-height: 56px,
      protected-container-height: 56px,
      text-container-height: 56px,
    )
  );
}

.button-anchor-sm {
  @include mat.button-overrides(
    (
      text-label-text-size: 12px,
      text-container-height: 16px,
      text-horizontal-padding: 0,
      text-hover-state-layer-opacity: 0,
      text-focus-state-layer-opacity: 0,
      text-pressed-state-layer-opacity: 0,
      text-ripple-color: none,
      text-label-text-transform: none,
    )
  );

  min-width: auto !important;
}

.button-anchor-md {
  @include mat.button-overrides(
    (
      text-label-text-size: 16px,
      text-container-height: 24px,
      text-horizontal-padding: 0,
      text-hover-state-layer-opacity: 0,
      text-focus-state-layer-opacity: 0,
      text-pressed-state-layer-opacity: 0,
      text-ripple-color: none,
      text-label-text-transform: none,
    )
  );

  min-width: auto !important;
}

.button-anchor-md-with-icon {
  @include mat.button-overrides(
    (
      text-label-text-size: 16px,
      text-container-height: 24px,
      text-horizontal-padding: 0,
      text-hover-state-layer-opacity: 0,
      text-focus-state-layer-opacity: 0,
      text-pressed-state-layer-opacity: 0,
      text-ripple-color: none,
      text-label-text-transform: none,
      text-icon-offset: 4px,
      text-icon-spacing: 0,
      text-with-icon-horizontal-padding: 0,
    )
  );

  flex-flow: row-reverse;
  min-width: auto !important;
}

.mini-fab-sm {
  @include mat.fab-overrides(
    (
      small-container-color: var(--mat-sys-primary),
      small-container-shape: 999px,
      small-container-elevation-shadow: none,
      small-pressed-container-elevation-shadow: none,
      small-hover-container-elevation-shadow: none,
      small-focus-container-elevation-shadow: none,
    )
  );

  width: 32px !important;
  height: 32px !important;
}

.mini-fab-md {
  @include mat.fab-overrides(
    (
      small-container-shape: 999px,
      small-container-elevation-shadow: none,
      small-pressed-container-elevation-shadow: none,
      small-hover-container-elevation-shadow: none,
      small-focus-container-elevation-shadow: none,
    )
  );
}

.mini-fab-primary {
  @include mat.fab-overrides(
    (
      small-container-color: var(--mat-sys-primary),
    )
  );
}

.mini-fab-secondary {
  @include mat.fab-overrides(
    (
      small-container-color: var(--mat-sys-secondary),
    )
  );
}

.fab-md {
  @include mat.fab-overrides(
    (
      container-shape: 999px,
      container-elevation-shadow: none,
      pressed-container-elevation-shadow: none,
      hover-container-elevation-shadow: none,
      focus-container-elevation-shadow: none,
    )
  );

  width: 48px !important;
  height: 48px !important;
}

.fab-lg {
  @include mat.fab-overrides(
    (
      container-shape: 999px,
      container-elevation-shadow: none,
      pressed-container-elevation-shadow: none,
      hover-container-elevation-shadow: none,
      focus-container-elevation-shadow: none,
    )
  );

  width: 56px !important;
  height: 56px !important;
}

.fab-secondary {
  @include mat.fab-overrides(
    (
      container-color: var(--mat-sys-secondary),
    )
  );
}

.fab-tertiary {
  @include mat.fab-overrides(
    (
      container-color: var(--mat-sys-tertiary),
    )
  );
}

.fab-primary-container {
  @include mat.fab-overrides(
    (
      container-color: var(--mat-sys-primary-container),
    )
  );
}

.fab-icon-primary-button-xxxl {
  @include mat.fab-overrides(
    (
      container-color: var(--mat-sys-secondary),
      container-shape: 999px,
      container-elevation-shadow: none,
      pressed-container-elevation-shadow: none,
      hover-container-elevation-shadow: none,
      focus-container-elevation-shadow: none,
    )
  );

  width: 200px !important;
  height: 200px !important;
}

.icon-button-sm {
  @include mat.icon-button-overrides(
    (
      icon-size: 24px,
      state-layer-size: 40px,
    )
  );
}

.icon-button-md {
  @include mat.icon-button-overrides(
    (
      icon-size: 40px,
      state-layer-size: 56px,
    )
  );
}

.icon-button-lg {
  @include mat.icon-button-overrides(
    (
      icon-size: 56px,
      state-layer-size: 64px,
    )
  );
}
