@use '@angular/material' as mat;
@use 'styles/mixins' as mixins;

.optgroup-md {
  @include mat.optgroup-overrides(
    (
      label-text-size: var(--mat-sys-body-medium-size),
    )
  );
}

.option-sm {
  @include mat.option-overrides(
    (
      label-text-line-height: 40px,
    )
  );

  min-height: mixins.rem(40, true);
}

.option-md {
  @include mat.option-overrides(
    (
      label-text-line-height: 48px,
    )
  );

  min-height: mixins.rem(48, true);
}

.option-lg {
  @include mat.option-overrides(
    (
      label-text-line-height: 56px,
    )
  );

  min-height: mixins.rem(56, true);
}
