@use '@angular/material' as mat;
@use 'styles/mixins' as mixins;

.form-field-sm {
  @include mat.form-field-overrides(
    (
      filled-container-shape: 8px,
      outlined-container-shape: 8px,
    )
  );
  @include mat.form-field-density(
    (
      density: -4,
    )
  );
}

.form-field-md {
  @include mat.form-field-overrides(
    (
      filled-container-shape: 8px,
      outlined-container-shape: 8px,
    )
  );
  @include mat.form-field-density(
    (
      density: -2,
    )
  );
}

.form-field-lg {
  @include mat.form-field-overrides(
    (
      filled-container-shape: 12px,
      outlined-container-shape: 12px,
    )
  );
  @include mat.form-field-density(
    (
      density: 0,
    )
  );
}
