@use '@angular/material' as mat;

.icon-xs {
  width: 18px !important;
  height: 18px !important;
  font-size: 18px !important;
}

.icon-sm {
  width: 24px !important;
  height: 24px !important;
}

.icon-md {
  width: 40px !important;
  height: 40px !important;
  font-size: 32px !important;
  text-align: center;
  line-height: 40px !important;
}

.icon-lg {
  width: 56px !important;
  height: 56px !important;
}

.icon-xxxl {
  width: 148px !important;
  height: 148px !important;
  font-size: 140px !important;
  text-align: center;
  line-height: 148px !important;
}

.icon-primary {
  @include mat.icon-overrides(
    (
      color: var(--mat-sys-primary),
    )
  );
}

.icon-on-primary {
  @include mat.icon-overrides(
    (
      color: var(--mat-sys-on-primary),
    )
  );
}

.icon-secondary {
  @include mat.icon-overrides(
    (
      color: var(--mat-sys-secondary),
    )
  );
}

.icon-on-secondary {
  @include mat.icon-overrides(
    (
      color: var(--mat-sys-on-secondary),
    )
  );
}

.icon-tertiary {
  @include mat.icon-overrides(
    (
      color: var(--mat-sys-tertiary),
    )
  );
}

.icon-on-tertiary {
  @include mat.icon-overrides(
    (
      color: var(--mat-sys-on-tertiary),
    )
  );
}

.icon-error {
  @include mat.icon-overrides(
    (
      color: var(--mat-sys-error),
    )
  );
}

.icon-success {
  @include mat.icon-overrides(
    (
      color: var(--mat-extended-success-color),
    )
  );
}

.icon-warning {
  @include mat.icon-overrides(
    (
      color: var(--mat-extended-warning-color),
    )
  );
}
