@use '@angular/material' as mat;
@use 'styles/mixins' as mixins;

.snackbar-panel {
  @include mat.snack-bar-overrides(
    (
      container-shape: 12px,
      container-color: var(--mat-sys-surface-container),
      supporting-text-color: var(--mat-sys-on-surface-variant),
    )
  );

  white-space: pre-line;
}
