@use '@angular/material' as mat;
@use 'styles/mixins' as mixins;
@use 'styles/breakpoints' as bp;
@use 'sass:map';

.tab-nav-bar {
  @include mat.tabs-overrides(
    (
      label-text-size: var(--mat-sys-body-medium-size),
      label-text-line-height: var(--mat-sys-body-medium-line-height),
      active-label-text-color: var(--mat-sys-primary),
      active-hover-label-text-color: var(--mat-sys-primary),
      active-focus-label-text-color: var(--mat-sys-primary),
      background-color: var(--mat-sys-surface-container-lowest),
      foreground-color: var(--mat-sys-surface-container-lowest),
      divider-height: 0,
      active-indicator-height: 2px,
      active-indicator-shape: 999px,
    )
  );

  width: fit-content;
  box-shadow: var(--mat-sys-level1);
  border-radius: mixins.rem(12);

  a {
    padding: 0 mixins.rem(32);
  }

  @media #{map.get(bp.$breakpoints, xsmall)} {
    width: auto;

    a {
      padding: 0 mixins.rem(16);
    }
  }

  @media #{map.get(bp.$breakpoints, small)} {
    a {
      padding: 0 mixins.rem(24);
    }
  }
}
