<card-container [hideHeading]="true">
  <ng-container content>
    <toolbar>
      @if (!isSmallScreen()) {
        <ng-container heading>
          <h1>{{ RouteTitles.settings }}</h1>
        </ng-container>
      }
      <ng-container action-buttons>
        @if (!selectors.isSavingPassword()) {
          <button (click)="saveData()" class="button-md" mat-flat-button>
            <ui-flex-block gapSize="4">
              {{ SharedLocalization.save }}
              @if (formHasUnsavedChanges()) {
                <indicator />
              }
            </ui-flex-block>
          </button>
        } @else {
          <ui-skeleton height="40" width="128" />
        }
      </ng-container>
    </toolbar>
  </ng-container>
</card-container>
<card-container>
  <ng-container heading>
    <h1>{{ SettingsLocalization.changePassword }}</h1>
  </ng-container>
  <ng-container content>
    <ui-grid-block gridAlignItems="start" [gridTemplateColumns]="gridTemplateColumns()">
      <mat-form-field class="form-field-lg">
        <mat-label> {{ SettingsLocalization.oldPassword }} </mat-label>
        <input [formControl]="form.controls.oldPassword" [type]="isOldPwdVisible() ? 'text' : 'password'" matInput />
        <button (click)="isOldPwdVisible.set(!isOldPwdVisible())" matSuffix class="icon-button-sm" mat-icon-button>
          <mat-icon class="icon-secondary">{{ isOldPwdVisible() ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
        @if (form.controls.oldPassword.touched && form.controls.oldPassword.hasError('required')) {
          <mat-error>{{ SharedLocalization.fieldRequired }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="form-field-lg">
        <mat-label> {{ SettingsLocalization.newPassword }} </mat-label>
        <input [formControl]="form.controls.newPassword" [type]="isNewPwdVisible() ? 'text' : 'password'" matInput />
        <button (click)="isNewPwdVisible.set(!isNewPwdVisible())" matSuffix class="icon-button-sm" mat-icon-button>
          <mat-icon class="icon-secondary">{{ isNewPwdVisible() ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
        @if (form.controls.newPassword.touched && form.controls.newPassword.hasError('required')) {
          <mat-error>{{ SharedLocalization.fieldRequired }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="form-field-lg">
        <mat-label> {{ SettingsLocalization.repeatNewPassword }} </mat-label>
        <input
          [formControl]="form.controls.confirmNewPassword"
          [type]="isRepeatPwdVisible() ? 'text' : 'password'"
          matInput
        />
        <button
          (click)="isRepeatPwdVisible.set(!isRepeatPwdVisible())"
          matSuffix
          class="icon-button-sm"
          mat-icon-button
        >
          <mat-icon class="icon-secondary">{{ isRepeatPwdVisible() ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
        @if (
          form.controls.confirmNewPassword.touched && form.controls.confirmNewPassword.hasError('passwordMismatch')
        ) {
          <mat-error>{{ SettingsLocalization.passwordsMismatch }}</mat-error>
        }
        @if (form.controls.confirmNewPassword.touched && form.controls.confirmNewPassword.hasError('required')) {
          <mat-error>{{ SharedLocalization.fieldRequired }}</mat-error>
        }
      </mat-form-field>
    </ui-grid-block>
  </ng-container>
</card-container>
