@if (!selectors.isQrCardListLoading()) {
  @for (qrCard of selectors.qrCardList(); track qrCard.id) {
    @let code = qrCard.code | toHex;
    <view-list-item
      [title]="code"
      [navigateTo]="`./${qrCard.code}`"
      [isPreviewShown]="true"
      [isSelected]="selectionModel.isSelected(qrCard.id)"
      (checkboxChanged)="makeSelect(qrCard)"
    >
      <ng-container preview>
        @if (selectors.qrTableColumnVisibility().code_picture) {
          <img
            [src]="`https://qrgen.qxyz.ru/generate?q=${code}&amp;color=%23000000&amp;background=%23ffffff&amp;x=128&amp;fileType=SVG&amp;correctionLevel=L`"
            alt="qr code"
            imgLoadState
            #imgLoadState="imgLoadState"
            [hidden]="!imgLoadState.isLoaded"
          />
          @if (!imgLoadState.isLoaded) {
            <ui-skeleton [style.flex]="'0 0 128px'" width="128" height="128" />
          }
        }
      </ng-container>
      <ng-container content>
        @if (selectors.qrTableColumnVisibility().name) {
          <p ellipsis>
            {{ qrCard.name | fallback: SharedLocalization.noName }}
          </p>
        }
        @if (selectors.qrTableColumnVisibility().description) {
          <p ellipsis>
            {{ qrCard.description | fallback: SharedLocalization.noDescription }}
          </p>
        }
      </ng-container>
      <ng-container menu-items>
        <a [routerLink]="`./${qrCard.code}`" [relativeTo]="activatedRoute" mat-menu-item>
          <mat-icon>outbound</mat-icon>
          {{ SharedLocalization.open }}
        </a>
        <button (click)="openCardPreview(qrCard.qrCardPreviewUrl)" mat-menu-item>
          <mat-icon>eye_tracking</mat-icon>
          {{ QrCardsLocalization.previewCard }}
        </button>
        <a [href]="`https://qr.qxyz.ru/?q=${code}`" target="_blank" rel="noopener noreferrer" mat-menu-item>
          <mat-icon>open_in_new</mat-icon>
          {{ QrCardsLocalization.viewCard }}
        </a>
        <button (click)="openPrint(code)" mat-menu-item>
          <mat-icon>print</mat-icon>
          {{ SharedLocalization.print }}
        </button>
        <a [routerLink]="`./${qrCard.code}/${AppRoutes.edit}`" [relativeTo]="activatedRoute" mat-menu-item>
          <mat-icon>edit</mat-icon>
          {{ SharedLocalization.edit }}
        </a>
        <button (click)="actions.deleteQrCards([qrCard.id], destroyRef)" mat-menu-item>
          <mat-icon>delete</mat-icon>
          {{ SharedLocalization.delete }}
        </button>
      </ng-container>
    </view-list-item>
  } @empty {
    <p>{{ SharedLocalization.emptyList }}</p>
  }
} @else {
  @for (sk of selectors.qrCardListSkeletonLoaders(); track sk) {
    <ui-skeleton [height]="skeletonHeight()" />
  }
}
