<data-view
  [displayType]="selectors.displayType()"
  (displayTypeChange)="actions.setDisplayType($event.value)"
  (advancedSearchClicked)="openAdvancedSearch()"
>
  @if (selectors.selectedFileList().length) {
    <selection-bar
      [count]="selectors.selectedFileList().length"
      (onSelectAll)="actions.selectAllFiles()"
      (onClose)="actions.setSelectedFiles([])"
      [@expandFade]
    >
      <button class="mini-fab-icon-secondary-button-circle-md" mat-mini-fab>
        <mat-icon class="icon-on-secondary">delete</mat-icon>
      </button>
    </selection-bar>
  }
  @if (selectors.displayType() === 'list') {
    <file-list (selectionChanged)="actions.setSelectedFiles($event)" />
  }
  @if (selectors.displayType() === 'table') {
    <h1>Not implemented</h1>
  }
</data-view>
