<ui-grid-block rowGapSize="8" gridTemplateColumns="1fr">
  <button (click)="closeSidenav()" class="button-md button-secondary" mat-flat-button>
    {{ SharedLocalization.close }}
  </button>
  @if (isPreviewingUnsaved()) {
    <ui-alert type="warning" icon="warning" [isClosable]="false">
      <p>{{ QrCardsLocalization.previewingUnsaved }}</p>
    </ui-alert>
  }
</ui-grid-block>

<iframe
  [src]="src()"
  (load)="onIframeLoad()"
  (error)="onIframeError()"
  [class.hidden]="isLoading || isLoadError"
  tabindex="0"
  sandbox="allow-popups allow-scripts"
></iframe>

@if (isLoading) {
  <mat-spinner diameter="64" />
}

@if (isLoadError) {
  <h1>{{ ErrorsLocalization.errorLoadingPreview }}</h1>
}
