@if (!selectors.isTemplateLoading()) {
  <card-container [hideHeading]="true">
    <ng-container content>
      <toolbar>
        <ng-container heading>
          <h1>{{ templateId ? TemplatesLocalization.editing : TemplatesLocalization.creation }}</h1>
        </ng-container>
        <ng-container action-buttons>
          @if (!selectors.isSaveInProgress()) {
            <button (click)="saveData()" class="button-md" mat-flat-button>
              {{ SharedLocalization.save }}
            </button>
          } @else {
            <ui-skeleton height="40" width="128" />
          }
        </ng-container>
      </toolbar>
    </ng-container>
  </card-container>
  <card-container>
    <ng-container heading>
      <h1>{{ RouteTitles.template }}</h1>
    </ng-container>
    <ng-container content>
      <ui-grid-block gridAlignItems="start" [gridTemplateColumns]="gridTemplateColumns()">
        <mat-form-field class="form-field-lg">
          <mat-label> {{ SharedLocalization.name }} </mat-label>
          <input matInput />
          <!--          @if (form.controls.name.touched && form.controls.name.hasError('required')) {-->
          <!--            <mat-error>{{ SharedLocalization.fieldRequired }}</mat-error>-->
          <!--          }-->
          <!--          @if (form.controls.name.touched && form.controls.name.hasError('maxlength')) {-->
          <!--            <mat-error>{{ SharedLocalization.maxLength }} {{ MAX_NAME_LENGTH }}</mat-error>-->
          <!--          }-->
        </mat-form-field>
        <mat-form-field class="form-field-lg">
          <mat-label> {{ SharedLocalization.description }} </mat-label>
          <textarea matInput></textarea>
          <!--          @if (form.controls.description.touched && form.controls.description.hasError('required')) {-->
          <!--            <mat-error>{{ SharedLocalization.fieldRequired }}</mat-error>-->
          <!--          }-->
          <!--          @if (form.controls.description.touched && form.controls.description.hasError('maxlength')) {-->
          <!--            <mat-error>{{ SharedLocalization.maxLength }} {{ MAX_DESCRIPTION_LENGTH }}</mat-error>-->
          <!--          }-->
        </mat-form-field>
      </ui-grid-block>
    </ng-container>
  </card-container>
  <card-container>
    <ng-container heading>
      <h1>{{ RouteTitles.attrs }}</h1>
    </ng-container>
    <ng-container content> </ng-container>
  </card-container>
  <card-container>
    <ng-container heading>
      <h1>{{ RouteTitles.files }}</h1>
    </ng-container>
    <ng-container content> </ng-container>
  </card-container>
} @else {
  <ui-skeleton height="88" />
  <ui-skeleton height="280" />
}
