@if (!selectors.templateLoadErr()) {
  @if (!selectors.isTemplateLoading()) {
    <card-container [hideHeading]="true">
      <ng-container content>
        <toolbar [navigateTo]="['../']">
          @if (!isSmallScreen()) {
            <ng-container heading>
              <h1>{{ TemplatesLocalization.editing }}</h1>
            </ng-container>
          }
          <ng-container action-buttons>
            @if (!selectors.isSaveInProgress()) {
              <button (click)="saveData()" class="button-md" mat-flat-button>
                <ui-flex-block gapSize="4">
                  {{ SharedLocalization.save }}
                  @if (formHasUnsavedChanges()) {
                    <indicator />
                  }
                </ui-flex-block>
              </button>
            } @else {
              <ui-skeleton height="40" width="128" />
            }
          </ng-container>
        </toolbar>
      </ng-container>
    </card-container>
    <card-container>
      <ng-container heading>
        <h1>{{ RouteTitles.template }}</h1>
      </ng-container>
      <ng-container content>
        <ui-grid-block gridAlignItems="start" [gridTemplateColumns]="gridTemplateColumns()">
          <mat-form-field class="form-field-lg">
            <mat-label> {{ SharedLocalization.name }} </mat-label>
            <input [formControl]="form().controls.name" matInput />
            @if (form().controls.name.touched && form().controls.name.hasError('required')) {
              <mat-error>{{ SharedLocalization.fieldRequired }}</mat-error>
            }
            @if (form().controls.name.touched && form().controls.name.hasError('maxlength')) {
              <mat-error>{{ SharedLocalization.maxLength }} {{ MAX_NAME_LENGTH }}</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="form-field-lg">
            <mat-label> {{ SharedLocalization.description }} </mat-label>
            <textarea [formControl]="form().controls.description" matInput></textarea>
            @if (form().controls.description.touched && form().controls.description.hasError('required')) {
              <mat-error>{{ SharedLocalization.fieldRequired }}</mat-error>
            }
            @if (form().controls.description.touched && form().controls.description.hasError('maxlength')) {
              <mat-error>{{ SharedLocalization.maxLength }} {{ MAX_DESCRIPTION_LENGTH }}</mat-error>
            }
          </mat-form-field>
        </ui-grid-block>
      </ng-container>
    </card-container>
    <card-container>
      <ng-container heading>
        <h1>{{ RouteTitles.attrs }}</h1>
      </ng-container>
      <ng-container content>
        @for (field of form().controls.fields.controls; track field) {
          <ui-flex-block flexAlignItems="center">
            <mat-form-field class="form-field-lg" style="flex: auto">
              <mat-label> {{ SharedLocalization.name }} </mat-label>
              <input [formControl]="field.controls.caption" matInput />
              @if (!isSmallScreen()) {
                <ui-flex-block gapSize="8" style="padding-right: 8px" matSuffix>
                  <button
                    [matTooltip]="
                      field.controls.isPublic.value ? SharedLocalization.isPublic : SharedLocalization.nonPublic
                    "
                    matTooltipPosition="above"
                    class="mini-fab-sm mini-fab-primary"
                    tabIndex="-1"
                    mat-mini-fab
                  >
                    <mat-icon class="icon-on-primary">
                      {{ field.controls.isPublic.value ? 'visibility' : 'visibility_lock' }}
                    </mat-icon>
                  </button>
                  <button
                    [matTooltip]="
                      field.controls.isStatic.value ? SharedLocalization.isStatic : SharedLocalization.nonStatic
                    "
                    matTooltipPosition="above"
                    class="mini-fab-sm mini-fab-primary"
                    mat-mini-fab
                    tabIndex="-1"
                  >
                    <mat-icon class="icon-on-primary">{{
                      field.controls.isStatic.value ? 'lock' : 'lock_open_right'
                    }}</mat-icon>
                  </button>
                </ui-flex-block>
              }
            </mat-form-field>
            <button (click)="toggleAdditionalFields($index)" class="icon-button-sm" mat-icon-button>
              <mat-icon class="icon-primary">
                {{ expandedFieldIndex() === $index ? 'edit_off' : 'edit_square' }}
              </mat-icon>
            </button>
          </ui-flex-block>
          @if (expandedFieldIndex() === $index) {
            <ui-grid-block
              gridAlignItems="center"
              [gridTemplateColumns]="expandedFieldsGridTemplateColumns()"
              class="expanded-block"
            >
              <mat-form-field class="form-field-lg">
                <mat-label>{{ TemplatesLocalization.dataType }}</mat-label>
                <mat-select [formControl]="field.controls.fieldType">
                  @for (type of selectors.inputType().list; track type.value) {
                    <mat-option [value]="type.value">
                      {{ type.description }}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <mat-form-field class="form-field-lg">
                <mat-label>{{ SharedLocalization.placeholder }}</mat-label>
                <input [formControl]="field.controls.placeholder" matInput />
              </mat-form-field>
              <mat-form-field class="form-field-lg">
                <mat-label>{{ TemplatesLocalization.position }}</mat-label>
                <input [formControl]="field.controls.fieldOrder" matInput />
              </mat-form-field>
              <mat-form-field class="form-field-lg">
                <mat-label>FN</mat-label>
                <input [formControl]="field.controls.name" matInput />
              </mat-form-field>
              <ui-grid-block columnGapSize="8" [gridTemplateColumns]="slideTogglesGridTemplateColumns()">
                <mat-slide-toggle [formControl]="field.controls.isPublic" class="slide-toggle">
                  {{ SharedLocalization.isPublic }}
                </mat-slide-toggle>
                <mat-slide-toggle [formControl]="field.controls.isStatic" class="slide-toggle">
                  {{ SharedLocalization.isStatic }}
                </mat-slide-toggle>
              </ui-grid-block>
              <ui-grid-block columnGapSize="8" gridTemplateColumns="repeat(2, 1fr)">
                <button (click)="deleteField($index)" class="button-lg button-secondary" mat-button>
                  {{ SharedLocalization.delete }}
                </button>
                <button (click)="toggleAdditionalFields($index)" class="button-lg button-secondary" mat-flat-button>
                  {{ SharedLocalization.ok }}
                </button>
              </ui-grid-block>
            </ui-grid-block>
          }
        }
        <button (click)="addField()" class="button-lg button-secondary" mat-flat-button>
          {{ SharedLocalization.add }}
        </button>
      </ng-container>
    </card-container>
    <card-container>
      <ng-container heading>
        <h1>{{ RouteTitles.files }}</h1>
      </ng-container>
      <ng-container content>
        @if (!selectors.isTemplateFilesLoading()) {
          <ui-grid-block gridTemplateColumns="repeat(1, 1fr)">
            @for (file of form().controls.files.controls; track file.controls.id.value) {
              <ui-flex-block flexAlignItems="center">
                <file-list-item
                  [fileLink]="`/files/${file.controls.id.value}`"
                  [fileStorageType]="file.controls.fileStorageType.value"
                  [name]="file.controls.name.value"
                  [fileSize]="file.controls.fileSize.value | bytesToSize"
                  [isPublic]="file.controls.isPublic.value"
                  [isActive]="file.controls.isActive.value"
                  [updated]="(file.controls.updated.value | date: 'short') ?? ''"
                  style="flex: auto"
                />
                <button (click)="showFileEdit(file.getRawValue(), $index)" class="icon-button-sm" mat-icon-button>
                  <mat-icon class="icon-primary">
                    {{ fileInEditIndex() === $index ? 'edit_off' : 'edit_square' }}
                  </mat-icon>
                </button>
              </ui-flex-block>
              @if (fileInEditIndex() === $index) {
                @if (fileInEditMetadata()?.storagePath) {
                  <file-as-url
                    [fileMetadata]="fileInEditMetadata()"
                    (saveCompleted)="fileMetadataUpdated()"
                    class="expanded-block"
                  >
                    <button (click)="unlinkFile($index)" class="button-lg button-secondary" mat-flat-button>
                      {{ SharedLocalization.deleteRelation }}
                    </button>
                  </file-as-url>
                } @else {
                  <file-upload-blob
                    [fileMetadata]="fileInEditMetadata()"
                    (saveCompleted)="fileMetadataUpdated()"
                    class="expanded-block"
                  >
                    <button (click)="unlinkFile($index)" class="button-lg button-secondary" mat-flat-button>
                      {{ SharedLocalization.deleteRelation }}
                    </button>
                  </file-upload-blob>
                }
              }
            } @empty {
              {{ SharedLocalization.emptyList }}
            }
          </ui-grid-block>
          <ui-flex-block flexWrap="wrap">
            <button (click)="showFileUpload()" class="button-lg button-secondary" mat-flat-button>
              {{ FilesLocalization.uploadFile }}
            </button>
            <button (click)="showFileSelection()" class="button-lg button-secondary" mat-flat-button>
              {{ SharedLocalization.selectExisting }}
            </button>
          </ui-flex-block>
          @if (isUploadVisible()) {
            <file-attachment-mode />
            @if (selectors.fileAttachmentMode() === 'upload') {
              <file-upload-blob (uploadCompleted)="addFileToTemplate($event)" />
            }
            @if (selectors.fileAttachmentMode() === 'fileUrl') {
              <file-as-url (uploadCompleted)="addFileToTemplate($event)" />
            }
          }
          @if (isFileSelectorVisible()) {
            <ui-grid-block gridTemplateColumns="repeat(1, 1fr)">
              <mat-form-field class="form-field-lg">
                @if (selectors.filesState().isFileListLoading) {
                  <mat-label>
                    <ui-flex-block>
                      <p>{{ SharedLocalization.loading }}</p>
                      <mat-spinner diameter="24"></mat-spinner>
                    </ui-flex-block>
                  </mat-label>
                } @else {
                  <mat-label>
                    @if (selectors.filesState().isFileListLoadErr) {
                      <ui-flex-block flexAlignItems="center">
                        <p class="error-color">{{ ErrorsLocalization.errorFetchingFileList }}</p>
                        <button (click)="actions.fetchFileList(destroyRef)" class="icon-button-sm" mat-icon-button>
                          <mat-icon class="icon-primary">refresh</mat-icon>
                        </button>
                      </ui-flex-block>
                    } @else {
                      {{ SharedLocalization.pickAFile }}
                    }
                  </mat-label>
                }
                <mat-select #select multiple>
                  @for (file of selectors.filesState().fileList; track file.id) {
                    <mat-option class="option-lg" [value]="file.id">{{ file.name }}</mat-option>
                  } @empty {
                    {{ SharedLocalization.emptyList }}
                  }
                </mat-select>
              </mat-form-field>
              <button
                (click)="addExistingFilesToTemplate(select.value ?? [])"
                class="button-lg button-secondary"
                mat-flat-button
              >
                {{ SharedLocalization.attach }}
              </button>
            </ui-grid-block>
          }
        } @else {
          <ui-skeleton height="312" />
        }
        @if (isSmallScreen()) {
          @if (!selectors.isSaveInProgress()) {
            <button (click)="saveData()" class="fab-lg fab-primary-container save-fab-btn" mat-fab>
              <mat-icon class="icon-primary">save</mat-icon>
            </button>
          } @else {
            <ui-skeleton height="56" width="56" borderRadius="50%" class="save-fab-btn" />
          }
        }
      </ng-container>
    </card-container>
  } @else {
    <ui-skeleton height="176" />
    <ui-skeleton height="262" />
    <ui-skeleton height="512" />
  }
} @else {
  <banner [title]="ErrorsLocalization.errorFetchingTemplate" />
}
