@use 'styles/mixins' as mixins;
@use '@angular/material' as mat;

:host {
  gap: mixins.rem(16);
  display: grid;

  .expanded-block {
    padding: mixins.rem(12);
    background: var(--mat-sys-surface-container-low);
    box-shadow: var(--mat-sys-level3);
    border-radius: mixins.rem(12);
  }

  .save-fab-btn {
    right: mixins.rem(16);
    bottom: mixins.rem(96);
    z-index: 2;
    position: fixed !important;
  }

  mat-tab-nav-panel {
    overflow: auto;
    padding-top: mixins.rem(4);
    border-radius: mixins.rem(12);
  }

  table {
    @include mat.table-overrides(
      (
        row-item-container-height: 148px,
      )
    );

    overflow: auto;
    border-radius: mixins.rem(12);
  }

  .no-data-row {
    @include mat.table-overrides(
      (
        row-item-container-height: 64px,
      )
    );
  }

  .w-88 {
    width: mixins.rem(88);
  }

  .w-156 {
    width: mixins.rem(156);
  }

  .w-320 {
    width: mixins.rem(320);
  }
}
