@use 'styles/mixins' as mixins;

:host {
  gap: mixins.rem(16);
  display: grid;

  .expanded-fields-block {
    padding: mixins.rem(12);
    box-shadow: var(--mat-sys-level3);
    border-radius: mixins.rem(12);
  }

  .save-fab-btn {
    right: mixins.rem(16);
    bottom: mixins.rem(96);
    z-index: 2;
    position: fixed !important;
  }
}
