<h1>Badges</h1>
<ui-flex-block flexAlignItems="center" flexWrap="wrap">
  <ui-badge borderRadius="100%" lineHeight="normal" padding="4px">
    <mat-icon class="icon-on-primary">globe_asia</mat-icon>
  </ui-badge>
  <ui-badge>1.5MB</ui-badge>
  <ui-badge>Изм. 18.03.2025 17:36</ui-badge>
</ui-flex-block>
<h1>Form Fields</h1>
<ui-flex-block flexAlignItems="center" flexWrap="wrap">
  <mat-form-field class="form-field-sm">
    <mat-label>
      Small form field
      <mat-icon inline class="icon-primary" matTooltip="Tooltip for large form field" matTooltipPosition="above">
        info
      </mat-icon>
    </mat-label>
    <input matInput placeholder="Placeholder" />
  </mat-form-field>
  <mat-form-field class="form-field-md">
    <mat-label>
      Medium form field
      <mat-icon inline class="icon-primary" matTooltip="Tooltip for large form field" matTooltipPosition="above">
        info
      </mat-icon>
    </mat-label>
    <input matInput placeholder="Placeholder" />
    <button matSuffix class="icon-button-sm" disabled mat-icon-button>
      <mat-icon class="icon-primary" matTooltip="Tooltip for large form field" matTooltipPosition="above">
        globe_asia
      </mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="form-field-lg">
    <mat-label>
      Large form field
      <mat-icon inline class="icon-primary" matTooltip="Tooltip for large form field" matTooltipPosition="above">
        info
      </mat-icon>
    </mat-label>
    <input [(ngModel)]="inputFieldModel" matInput placeholder="Placeholder" minlength="2" />
    <mat-error>
      <ui-flex-block flexDisplay="inline-flex" gapSize="4" flexAlignItems="center">
        <mat-icon class="icon-error" matTooltip="Tooltip for large form field" matTooltipPosition="above">
          error
        </mat-icon>
        Some error text
      </ui-flex-block>
    </mat-error>
    <button matSuffix class="icon-button-sm" mat-icon-button>
      <mat-icon class="icon-primary" matTooltip="Tooltip for large form field" matTooltipPosition="above">
        globe_asia
      </mat-icon>
    </button>
  </mat-form-field>
</ui-flex-block>

<h1>Selects</h1>
<ui-flex-block flexAlignItems="center" flexWrap="wrap">
  <mat-form-field class="form-field-sm">
    <mat-label>Small select</mat-label>
    <mat-select placeholder="Placeholder">
      @for (option of optionList; track option) {
        <mat-option class="option-sm" [value]="option.value">{{ option.viewValue }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="form-field-md">
    <mat-label>Medium select</mat-label>
    <mat-select placeholder="Placeholder">
      @for (option of optionList; track option) {
        <mat-option class="option-md" [value]="option.value">{{ option.viewValue }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="form-field-lg">
    <mat-label>Large select</mat-label>
    <mat-select placeholder="Placeholder">
      @for (option of optionList; track option) {
        <mat-option class="option-lg" [value]="option.value">{{ option.viewValue }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</ui-flex-block>

<h1>Checkbox, toggle</h1>
<ui-flex-block flexAlignItems="center">
  <mat-checkbox>Checked</mat-checkbox>
  <mat-slide-toggle class="slide-toggle"> Slide me! </mat-slide-toggle>
</ui-flex-block>

<h1 i18n="@@typography">Typography</h1>
<div>
  <h1>H1</h1>
  <h2>H2</h2>
  <h3>H3</h3>
  <p>Paragraph</p>
  <small>Small</small>
</div>

<h1 i18n="@@buttons">Buttons</h1>
<ui-flex-block flexAlignItems="center" flexWrap="wrap">
  <a mat-button>Link</a>
  <button mat-button>Basic</button>
  <button mat-raised-button>Basic</button>
  <button mat-stroked-button>Basic</button>
  <button mat-flat-button>Basic</button>
  <button mat-fab>🔝</button>
  <button mat-mini-fab>☠️</button>
  <button mat-fab extended>❤️ Basic</button>
</ui-flex-block>
<ui-flex-block flexAlignItems="center" flexWrap="wrap">
  <a class="button-anchor-sm" mat-button>Link SM</a>
  <a class="button-anchor-md" mat-button>Link MD</a>
  <a class="button-anchor-md-no-effect" mat-button>Link MD No Effect</a>
  <button class="button-md" mat-flat-button>Button MD</button>
  <button class="button-lg" mat-flat-button>Button LG</button>
  <button class="button-xl" mat-flat-button>Button XL</button>
</ui-flex-block>
<ui-flex-block flexAlignItems="center" flexWrap="wrap">
  <button (click)="setTheme('system', '')" mat-button>System</button>
  <button (click)="setTheme('dark', '')" mat-flat-button>Dark</button>
  <button (click)="setTheme('light', '')" mat-raised-button>Light</button>
</ui-flex-block>
<ui-flex-block flexAlignItems="center" flexWrap="wrap">
  <button (click)="setLocale('ru-RU', true)" mat-flat-button>RU Locale</button>
  <button (click)="setLocale('en-US', true)" mat-flat-button>EN-US Locale</button>
  <p>{{ now | date: 'short' }}</p>
</ui-flex-block>
<ui-flex-block flexAlignItems="center" flexWrap="wrap">
  <button (click)="openSidenavMenu()" mat-flat-button>Open Sidenav Menu</button>
</ui-flex-block>

<h1>Mat Icon Buttons</h1>
<ui-flex-block flexAlignItems="center">
  <button class="fab-icon-button-lg-circle" mat-fab>
    <mat-icon class="icon-on-secondary">settings</mat-icon>
  </button>
  <button class="fab-icon-button-lg-circle" mat-fab>
    <mat-icon class="icon-on-secondary">search</mat-icon>
  </button>
</ui-flex-block>
<ui-flex-block flexAlignItems="center">
  <button class="fab-icon-button-md-circle" mat-fab>
    <mat-icon class="icon-on-secondary">arrow_back_ios_new</mat-icon>
  </button>
</ui-flex-block>
<ui-flex-block flexAlignItems="center">
  <button class="fab-icon-button-sm-circle" mat-fab>
    <mat-icon class="icon-on-secondary">chevron_left</mat-icon>
  </button>
</ui-flex-block>

<h1>Custom Icon Buttons</h1>
<ui-flex-block flexAlignItems="center">
  <button class="icon-button-sm" mat-icon-button>
    <mat-icon svgIcon="qrd:arrow-bottom" class="icon-primary"></mat-icon>
  </button>
  <button class="icon-button-sm" mat-icon-button paletteAnimation>
    <mat-icon svgIcon="qrd:palette" class="icon-primary"></mat-icon>
  </button>
  <button class="icon-button-md" mat-icon-button>
    <mat-icon svgIcon="qrd:cringe" class="icon-primary icon-md"></mat-icon>
  </button>
</ui-flex-block>

<h1>Toggle Buttons</h1>
<ui-flex-block flexAlignItems="center">
  <mat-button-toggle-group [hideSingleSelectionIndicator]="true">
    <mat-button-toggle value="red">
      <ui-flex-block gapSize="4" flexAlignItems="center" flexDisplay="inline-flex">
        <mat-icon class="icon-primary">menu</mat-icon>
        <p>List</p>
      </ui-flex-block>
    </mat-button-toggle>
    <mat-button-toggle value="green">
      <ui-flex-block gapSize="4" flexAlignItems="center" flexDisplay="inline-flex">
        <p>Table</p>
        <mat-icon class="icon-primary">table</mat-icon>
      </ui-flex-block>
    </mat-button-toggle>
  </mat-button-toggle-group>
</ui-flex-block>
