<h1>Form Fields</h1>
<flex-block flexAlignItems="center" flexWrap="wrap">
  <mat-form-field class="qrd-form-field-sm">
    <mat-label>Small form field <ui-icon icon="info" width="24" height="24" tooltipText="Tooltip for large form field" tooltipPosition="above" /></mat-label>
    <input matInput placeholder="Placeholder" />
  </mat-form-field>
  <mat-form-field class="qrd-form-field-md">
    <mat-label>Medium form field <ui-icon icon="info" width="24" height="24" tooltipText="Tooltip for large form field" tooltipPosition="above" /></mat-label>
    <input matInput placeholder="Placeholder" />
    <button matSuffix class="qrd-icon-button-sm" disabled mat-icon-button><ui-icon icon="world" display="inline" /></button>
  </mat-form-field>
  <mat-form-field class="qrd-form-field-lg">
    <mat-label>
      <flex-block flexDisplay="inline-flex" gapSize="4" flexAlignItems="center">
        Large form field <ui-icon icon="info" width="24" height="24" tooltipText="Tooltip for large form field" tooltipPosition="above" /> </flex-block
    ></mat-label>
    <input [(ngModel)]="inputFieldModel" matInput placeholder="Placeholder" minlength="2" />
    <mat-error>
      <flex-block flexDisplay="inline-flex" gapSize="4" flexAlignItems="center">
        <ui-icon icon="error" tooltipText="Tooltip error large form field" tooltipPosition="below" />
        Some error text
      </flex-block>
    </mat-error>
    <button matSuffix class="qrd-icon-button-sm" mat-icon-button><ui-icon icon="world" display="inline" /></button>
  </mat-form-field>
</flex-block>

<h1>Selects</h1>
<flex-block flexAlignItems="center" flexWrap="wrap">
  <mat-form-field class="qrd-form-field-sm">
    <mat-label>Small select</mat-label>
    <mat-select placeholder="Placeholder">
      @for (option of optionList; track option) {
        <mat-option class="qrd-option-sm" [value]="option.value">{{ option.viewValue }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="qrd-form-field-md">
    <mat-label>Medium select</mat-label>
    <mat-select placeholder="Placeholder">
      @for (option of optionList; track option) {
        <mat-option class="qrd-option-md" [value]="option.value">{{ option.viewValue }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="qrd-form-field-lg">
    <mat-label>Large select</mat-label>
    <mat-select placeholder="Placeholder">
      @for (option of optionList; track option) {
        <mat-option class="qrd-option-lg" [value]="option.value">{{ option.viewValue }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</flex-block>

<h1>Checkbox, toggle, radio</h1>
<flex-block flexAlignItems="center">
  <mat-checkbox>Checked</mat-checkbox>
  <mat-slide-toggle class="qrd-slide-toggle"> Slide me! </mat-slide-toggle>
</flex-block>

<h1 i18n="@@typography">Typography</h1>
<div>
  <h1>H1</h1>
  <h2>H2</h2>
  <h3>H3</h3>
  <p>Paragraph</p>
  <small>Small</small>
</div>

<h1 i18n="@@buttons">Buttons</h1>
<flex-block flexAlignItems="center" flexWrap="wrap">
  <a mat-button>Link</a>
  <button mat-button>Basic</button>
  <button mat-raised-button>Basic</button>
  <button mat-stroked-button>Basic</button>
  <button mat-flat-button>Basic</button>
  <button mat-fab>🔝</button>
  <button mat-mini-fab>☠️</button>
  <button mat-fab extended>❤️ Basic</button>
</flex-block>
<flex-block flexAlignItems="center" flexWrap="wrap">
  <a class="qrd-button-anchor" mat-button>Link</a>
  <button class="qrd-button-md" mat-flat-button>Button MD</button>
  <button class="qrd-button-lg" mat-flat-button>Button LG</button>
  <button class="qrd-button-xl" mat-flat-button>Button XL</button>
</flex-block>
<flex-block flexAlignItems="center" flexWrap="wrap">
  <button (click)="setTheme('dark')" mat-flat-button>Dark</button>
  <button (click)="setTheme('dark-mc')" mat-flat-button>Dark MC</button>
  <button (click)="setTheme('dark-hc')" mat-flat-button>Dark HC</button>
  <button (click)="setTheme('light')" mat-raised-button>Light</button>
  <button (click)="setTheme('light-mc')" mat-raised-button>Light MC</button>
  <button (click)="setTheme('light-hc')" mat-raised-button>Light HC</button>
</flex-block>
<flex-block flexAlignItems="center" flexWrap="wrap">
  <button (click)="setLocale('ru', true)" mat-flat-button>RU Locale</button>
  <button (click)="setLocale('en-US', true)" mat-flat-button>EN-US Locale</button>
  <p>{{ now | date: 'short' }}</p>
</flex-block>
<flex-block flexAlignItems="center" flexWrap="wrap">
  <button (click)="openSidenavMenu()" mat-flat-button>Open Sidenav Menu</button>
</flex-block>

<h1>Icon Buttons</h1>
<flex-block flexAlignItems="center">
  <button class="qrd-fab-icon-button-lg-circle" mat-fab><ui-icon icon="settings" width="24" height="24" /></button>
  <button class="qrd-fab-icon-button-lg-circle" mat-fab><ui-icon icon="file-search" width="20" height="26" /></button>
</flex-block>
<flex-block flexAlignItems="center">
  <button class="qrd-fab-icon-button-md-circle" mat-fab><ui-icon icon="arrow-left" width="12" height="20" /></button>
</flex-block>
<flex-block flexAlignItems="center">
  <button class="qrd-fab-icon-button-sm-circle" mat-fab><ui-icon icon="arrow-left" width="6" height="20" /></button>
</flex-block>
<flex-block flexAlignItems="center">
  <button class="qrd-icon-button-sm" mat-icon-button><ui-icon icon="arrow-bottom" display="inline" /></button>
  <button class="qrd-icon-button-sm" mat-icon-button paletteAnimation><ui-icon icon="palette" display="inline" /></button>
</flex-block>

<h1>Toggle Buttons</h1>
<flex-block flexAlignItems="center">
  <mat-button-toggle-group [hideSingleSelectionIndicator]="true">
    <mat-button-toggle value="red">
      <flex-block gapSize="4" flexAlignItems="center" flexDisplay="inline-flex">
        <ui-icon icon="sidenav" width="24" height="24" />
        <p>List</p>
      </flex-block>
    </mat-button-toggle>
    <mat-button-toggle value="green">
      <flex-block gapSize="4" flexAlignItems="center" flexDisplay="inline-flex">
        <p>Table</p>
        <ui-icon icon="table" width="24" height="24" />
      </flex-block>
    </mat-button-toggle>
  </mat-button-toggle-group>
</flex-block>
