@let columns = displayedColumns();
<table-container
  matSort
  #sort="matSort"
  [isLoading]="selectors.isQrCardListLoading()"
  (selectionChanged)="actions.setSelectedQrCards($event)"
>
  @for (col of selectors.qrTableColumns(); track col.fieldName) {
    <ng-container [matColumnDef]="col.fieldName">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ col.name }}</th>
      <td mat-cell *matCellDef="let element">
        <qr-table-cell [column]="col" [value]="element" />
      </td>
    </ng-container>
  }
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>{{ SharedLocalization.actions }}</th>
    <td mat-cell *matCellDef="let element">
      @let code = element.code | toHex;
      <more-menu>
        <a [routerLink]="`../${element.id}`" [relativeTo]="activatedRoute" mat-menu-item>
          <mat-icon>outbound</mat-icon>
          {{ SharedLocalization.open }}
        </a>
        <button (click)="qrCardsService.openCardPreview(element.qrCardPreviewUrl)" mat-menu-item>
          <mat-icon>eye_tracking</mat-icon>
          {{ QrCardsLocalization.previewCard }}
        </button>
        <a [href]="`https://qr.qxyz.ru/?q=${code}`" target="_blank" rel="noopener noreferrer" mat-menu-item>
          <mat-icon>open_in_new</mat-icon>
          {{ QrCardsLocalization.viewCard }}
        </a>
        <button (click)="qrCardsService.openPrint(code)" mat-menu-item>
          <mat-icon>print</mat-icon>
          {{ SharedLocalization.print }}
        </button>
        <a [routerLink]="`../${element.id}/${AppRoutes.edit}`" [relativeTo]="activatedRoute" mat-menu-item>
          <mat-icon>edit</mat-icon>
          {{ SharedLocalization.edit }}
        </a>
        <button (click)="actions.deleteQrCards([element.id], destroyRef)" mat-menu-item>
          <mat-icon>delete</mat-icon>
          {{ SharedLocalization.delete }}
        </button>
      </more-menu>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table-container>
