<mat-nav-list class="bottom-navbar">
  @for (link of layoutConfigState().layoutConfig.header?.nav; track link.title) {
    <mat-list-item [activated]="rla.isActive">
      <a class="bottom-navbar-link" [routerLink]="link.uri" #rla="routerLinkActive" routerLinkActive="active">
        <mat-icon>
          {{
            rla.isActive
              ? (link?.iconActive ?? link.icon | fallback: 'question_mark')
              : (link.icon | fallback: 'question_mark')
          }}
        </mat-icon>
        <small ellipsis>{{ link.title }}</small>
      </a>
    </mat-list-item>
  }
</mat-nav-list>
