@use 'styles/mixins' as mixins;

:host {
  .bottom-navbar {
    display: flex;

    &-link {
      display: block;
      text-align: center;

      small {
        display: block;
        padding-top: mixins.rem(4);
      }
    }
  }
}
