:root {
  --mat-sys-primary: rgb(187 201 255);
  --mat-sys-surface-tint: rgb(182 196 255);
  --mat-sys-on-primary: rgb(0 17 67);
  --mat-sys-primary-container: rgb(127 142 200);
  --mat-sys-on-primary-container: rgb(0 0 0);
  --mat-sys-secondary: rgb(180 203 255);
  --mat-sys-on-secondary: rgb(0 21 56);
  --mat-sys-secondary-container: rgb(119 144 199);
  --mat-sys-on-secondary-container: rgb(0 0 0);
  --mat-sys-tertiary: rgb(186 201 255);
  --mat-sys-on-tertiary: rgb(0 18 64);
  --mat-sys-tertiary-container: rgb(125 143 200);
  --mat-sys-on-tertiary-container: rgb(0 0 0);
  --mat-sys-error: rgb(255 186 178);
  --mat-sys-on-error: rgb(51 4 4);
  --mat-sys-error-container: rgb(204 123 114);
  --mat-sys-on-error-container: rgb(0 0 0);
  --mat-sys-background: rgb(18 19 24);
  --mat-sys-on-background: rgb(227 225 233);
  --mat-sys-surface: rgb(15 20 23);
  --mat-sys-on-surface: rgb(247 251 255);
  --mat-sys-surface-variant: rgb(65 71 77);
  --mat-sys-on-surface-variant: rgb(198 203 210);
  --mat-sys-outline: rgb(158 163 170);
  --mat-sys-outline-variant: rgb(126 132 138);
  --mat-sys-shadow: rgb(0 0 0);
  --mat-sys-scrim: rgb(0 0 0);
  --mat-sys-inverse-surface: rgb(223 227 231);
  --mat-sys-inverse-on-surface: rgb(38 43 46);
  --mat-sys-inverse-primary: rgb(54 69 122);
  --mat-sys-primary-fixed: rgb(220 225 255);
  --mat-sys-on-primary-fixed: rgb(0 13 55);
  --mat-sys-primary-fixed-dim: rgb(182 196 255);
  --mat-sys-on-primary-fixed-variant: rgb(35 51 103);
  --mat-sys-secondary-fixed: rgb(216 226 255);
  --mat-sys-on-secondary-fixed: rgb(0 16 46);
  --mat-sys-secondary-fixed-dim: rgb(173 198 255);
  --mat-sys-on-secondary-fixed-variant: rgb(24 53 102);
  --mat-sys-tertiary-fixed: rgb(219 225 255);
  --mat-sys-on-tertiary-fixed: rgb(0 14 53);
  --mat-sys-tertiary-fixed-dim: rgb(180 197 255);
  --mat-sys-on-tertiary-fixed-variant: rgb(33 51 103);
  --mat-sys-surface-dim: rgb(15 20 23);
  --mat-sys-surface-bright: rgb(53 58 61);
  --mat-sys-surface-container-lowest: rgb(10 15 18);
  --mat-sys-surface-container-low: rgb(23 28 31);
  --mat-sys-surface-container: rgb(27 32 35);
  --mat-sys-surface-container-high: rgb(38 43 46);
  --mat-sys-surface-container-highest: rgb(48 53 56);
  --mat-extended-success-color: rgb(146 218 181);
  --mat-extended-success-on-color: rgb(0 27 16);
  --mat-extended-success-color-container: rgb(88 158 125);
  --mat-extended-success-on-color-container: rgb(0 0 0);
}
