:root {
  --mat-sys-primary: #b6c4ff;
  --mat-sys-surface-tint: #b6c4ff;
  --mat-sys-on-primary: #1d2d61;
  --mat-sys-primary-container: #344479;
  --mat-sys-on-primary-container: #dce1ff;
  --mat-sys-secondary: #adc6ff;
  --mat-sys-on-secondary: #112f60;
  --mat-sys-secondary-container: #2b4678;
  --mat-sys-on-secondary-container: #d8e2ff;
  --mat-sys-tertiary: #b4c5ff;
  --mat-sys-on-tertiary: #1a2d60;
  --mat-sys-tertiary-container: #324478;
  --mat-sys-on-tertiary-container: #dbe1ff;
  --mat-sys-error: #ffb4ab;
  --mat-sys-on-error: #561e19;
  --mat-sys-error-container: #73332d;
  --mat-sys-on-error-container: #ffdad6;
  --mat-sys-background: #121318;
  --mat-sys-on-background: #e3e1e9;
  --mat-sys-surface: #0f1417;
  --mat-sys-on-surface: #dfe3e7;
  --mat-sys-surface-variant: #41474d;
  --mat-sys-on-surface-variant: #c1c7ce;
  --mat-sys-outline: #8b9198;
  --mat-sys-outline-variant: #41474d;
  --mat-sys-shadow: #000;
  --mat-sys-scrim: #000;
  --mat-sys-inverse-surface: #dfe3e7;
  --mat-sys-inverse-on-surface: #2c3134;
  --mat-sys-inverse-primary: #4c5c92;
  --mat-sys-primary-fixed: #dce1ff;
  --mat-sys-on-primary-fixed: #03174b;
  --mat-sys-primary-fixed-dim: #b6c4ff;
  --mat-sys-on-primary-fixed-variant: #344479;
  --mat-sys-secondary-fixed: #d8e2ff;
  --mat-sys-on-secondary-fixed: #001a42;
  --mat-sys-secondary-fixed-dim: #adc6ff;
  --mat-sys-on-secondary-fixed-variant: #2b4678;
  --mat-sys-tertiary-fixed: #dbe1ff;
  --mat-sys-on-tertiary-fixed: #00174b;
  --mat-sys-tertiary-fixed-dim: #b4c5ff;
  --mat-sys-on-tertiary-fixed-variant: #324478;
  --mat-sys-surface-dim: #0f1417;
  --mat-sys-surface-bright: #353a3d;
  --mat-sys-surface-container-lowest: #0a0f12;
  --mat-sys-surface-container-low: #171c1f;
  --mat-sys-surface-container: #1b2023;
  --mat-sys-surface-container-high: #262b2e;
  --mat-sys-surface-container-highest: #303538;
  --mat-extended-success-color: #8ed5b1;
  --mat-extended-success-on-color: #003825;
  --mat-extended-success-color-container: #005137;
  --mat-extended-success-on-color-container: #a9f2cc;
}
