:root {
  --mat-sys-primary: #bbc9ff;
  --mat-sys-surface-tint: #b6c4ff;
  --mat-sys-on-primary: #001143;
  --mat-sys-primary-container: #7f8ec8;
  --mat-sys-on-primary-container: #000;
  --mat-sys-secondary: #b4cbff;
  --mat-sys-on-secondary: #001538;
  --mat-sys-secondary-container: #7790c7;
  --mat-sys-on-secondary-container: #000;
  --mat-sys-tertiary: #bac9ff;
  --mat-sys-on-tertiary: #001240;
  --mat-sys-tertiary-container: #7d8fc8;
  --mat-sys-on-tertiary-container: #000;
  --mat-sys-error: #ffbab2;
  --mat-sys-on-error: #330404;
  --mat-sys-error-container: #cc7b72;
  --mat-sys-on-error-container: #000;
  --mat-sys-background: #121318;
  --mat-sys-on-background: #e3e1e9;
  --mat-sys-surface: #0f1417;
  --mat-sys-on-surface: #f7fbff;
  --mat-sys-surface-variant: #41474d;
  --mat-sys-on-surface-variant: #c6cbd2;
  --mat-sys-outline: #9ea3aa;
  --mat-sys-outline-variant: #7e848a;
  --mat-sys-shadow: #000;
  --mat-sys-scrim: #000;
  --mat-sys-inverse-surface: #dfe3e7;
  --mat-sys-inverse-on-surface: #262b2e;
  --mat-sys-inverse-primary: #36457a;
  --mat-sys-primary-fixed: #dce1ff;
  --mat-sys-on-primary-fixed: #000d37;
  --mat-sys-primary-fixed-dim: #b6c4ff;
  --mat-sys-on-primary-fixed-variant: #233367;
  --mat-sys-secondary-fixed: #d8e2ff;
  --mat-sys-on-secondary-fixed: #00102e;
  --mat-sys-secondary-fixed-dim: #adc6ff;
  --mat-sys-on-secondary-fixed-variant: #183566;
  --mat-sys-tertiary-fixed: #dbe1ff;
  --mat-sys-on-tertiary-fixed: #000e35;
  --mat-sys-tertiary-fixed-dim: #b4c5ff;
  --mat-sys-on-tertiary-fixed-variant: #213367;
  --mat-sys-surface-dim: #0f1417;
  --mat-sys-surface-bright: #353a3d;
  --mat-sys-surface-container-lowest: #0a0f12;
  --mat-sys-surface-container-low: #171c1f;
  --mat-sys-surface-container: #1b2023;
  --mat-sys-surface-container-high: #262b2e;
  --mat-sys-surface-container-highest: #303538;
  --mat-extended-success-color: #92dab5;
  --mat-extended-success-on-color: #001b10;
  --mat-extended-success-color-container: #589e7d;
  --mat-extended-success-on-color-container: #000;
}
