:root {
  --mat-sys-primary: #fcfaff;
  --mat-sys-surface-tint: #b6c4ff;
  --mat-sys-on-primary: #000;
  --mat-sys-primary-container: #bbc9ff;
  --mat-sys-on-primary-container: #000;
  --mat-sys-secondary: #fbfaff;
  --mat-sys-on-secondary: #000;
  --mat-sys-secondary-container: #b4cbff;
  --mat-sys-on-secondary-container: #000;
  --mat-sys-tertiary: #fcfaff;
  --mat-sys-on-tertiary: #000;
  --mat-sys-tertiary-container: #bac9ff;
  --mat-sys-on-tertiary-container: #000;
  --mat-sys-error: #fff9f9;
  --mat-sys-on-error: #000;
  --mat-sys-error-container: #ffbab2;
  --mat-sys-on-error-container: #000;
  --mat-sys-background: #121318;
  --mat-sys-on-background: #e3e1e9;
  --mat-sys-surface: #0f1417;
  --mat-sys-on-surface: #fff;
  --mat-sys-surface-variant: #41474d;
  --mat-sys-on-surface-variant: #f9fbff;
  --mat-sys-outline: #c6cbd2;
  --mat-sys-outline-variant: #c6cbd2;
  --mat-sys-shadow: #000;
  --mat-sys-scrim: #000;
  --mat-sys-inverse-surface: #dfe3e7;
  --mat-sys-inverse-on-surface: #000;
  --mat-sys-inverse-primary: #15265a;
  --mat-sys-primary-fixed: #e2e6ff;
  --mat-sys-on-primary-fixed: #000;
  --mat-sys-primary-fixed-dim: #bbc9ff;
  --mat-sys-on-primary-fixed-variant: #001143;
  --mat-sys-secondary-fixed: #dee6ff;
  --mat-sys-on-secondary-fixed: #000;
  --mat-sys-secondary-fixed-dim: #b4cbff;
  --mat-sys-on-secondary-fixed-variant: #001538;
  --mat-sys-tertiary-fixed: #e1e6ff;
  --mat-sys-on-tertiary-fixed: #000;
  --mat-sys-tertiary-fixed-dim: #bac9ff;
  --mat-sys-on-tertiary-fixed-variant: #001240;
  --mat-sys-surface-dim: #0f1417;
  --mat-sys-surface-bright: #353a3d;
  --mat-sys-surface-container-lowest: #0a0f12;
  --mat-sys-surface-container-low: #171c1f;
  --mat-sys-surface-container: #1b2023;
  --mat-sys-surface-container-high: #262b2e;
  --mat-sys-surface-container-highest: #303538;
  --mat-extended-success-color: #eefff3;
  --mat-extended-success-on-color: #000;
  --mat-extended-success-color-container: #92dab5;
  --mat-extended-success-on-color-container: #000;
  --mat-extended-warning-color: #ffeed2;
  --mat-extended-warning-on-color: #000;
  --mat-extended-warning-color-container: #e6bd69;
  --mat-extended-warning-on-color-container: #110a00;
}
