:root {
  --mat-sys-primary: rgb(76 92 146);
  --mat-sys-surface-tint: rgb(76 92 146);
  --mat-sys-on-primary: rgb(255 255 255);
  --mat-sys-primary-container: rgb(220 225 255);
  --mat-sys-on-primary-container: rgb(3 23 75);
  --mat-sys-secondary: rgb(68 94 145);
  --mat-sys-on-secondary: rgb(255 255 255);
  --mat-sys-secondary-container: rgb(216 226 255);
  --mat-sys-on-secondary-container: rgb(0 26 66);
  --mat-sys-tertiary: rgb(75 92 146);
  --mat-sys-on-tertiary: rgb(255 255 255);
  --mat-sys-tertiary-container: rgb(219 225 255);
  --mat-sys-on-tertiary-container: rgb(0 23 75);
  --mat-sys-error: rgb(144 74 67);
  --mat-sys-on-error: rgb(255 255 255);
  --mat-sys-error-container: rgb(255 218 214);
  --mat-sys-on-error-container: rgb(59 9 7);
  --mat-sys-background: rgb(250 248 255);
  --mat-sys-on-background: rgb(26 27 33);
  --mat-sys-surface: rgb(246 250 254);
  --mat-sys-on-surface: rgb(23 28 31);
  --mat-sys-surface-variant: rgb(221 227 234);
  --mat-sys-on-surface-variant: rgb(65 71 77);
  --mat-sys-outline: rgb(114 120 126);
  --mat-sys-outline-variant: rgb(193 199 206);
  --mat-sys-shadow: rgb(0 0 0);
  --mat-sys-scrim: rgb(0 0 0);
  --mat-sys-inverse-surface: rgb(44 49 52);
  --mat-sys-inverse-on-surface: rgb(237 241 245);
  --mat-sys-inverse-primary: rgb(182 196 255);
  --mat-sys-primary-fixed: rgb(220 225 255);
  --mat-sys-on-primary-fixed: rgb(3 23 75);
  --mat-sys-primary-fixed-dim: rgb(182 196 255);
  --mat-sys-on-primary-fixed-variant: rgb(52 68 121);
  --mat-sys-secondary-fixed: rgb(216 226 255);
  --mat-sys-on-secondary-fixed: rgb(0 26 66);
  --mat-sys-secondary-fixed-dim: rgb(173 198 255);
  --mat-sys-on-secondary-fixed-variant: rgb(43 70 120);
  --mat-sys-tertiary-fixed: rgb(219 225 255);
  --mat-sys-on-tertiary-fixed: rgb(0 23 75);
  --mat-sys-tertiary-fixed-dim: rgb(180 197 255);
  --mat-sys-on-tertiary-fixed-variant: rgb(50 68 120);
  --mat-sys-surface-dim: rgb(214 219 222);
  --mat-sys-surface-bright: rgb(246 250 254);
  --mat-sys-surface-container-lowest: rgb(255 255 255);
  --mat-sys-surface-container-low: rgb(240 244 248);
  --mat-sys-surface-container: rgb(234 238 242);
  --mat-sys-surface-container-high: rgb(228 233 236);
  --mat-sys-surface-container-highest: rgb(223 227 231);
  --mat-extended-success-color: rgb(33 106 77);
  --mat-extended-success-on-color: rgb(255 255 255);
  --mat-extended-success-color-container: rgb(169 242 204);
  --mat-extended-success-on-color-container: rgb(0 33 20);
}
