:root {
  --mat-sys-primary: #4059aa;
  --mat-sys-surface-tint: #4059aa;
  --mat-sys-on-primary: #fff;
  --mat-sys-primary-container: #dce1ff;
  --mat-sys-on-primary-container: #264191;
  --mat-sys-primary-fixed: #dce1ff;
  --mat-sys-on-primary-fixed: #00164e;
  --mat-sys-primary-fixed-dim: #b6c4ff;
  --mat-sys-on-primary-fixed-variant: #264191;
  --mat-sys-secondary: #005ac2;
  --mat-sys-on-secondary: #fff;
  --mat-sys-secondary-container: #d8e2ff;
  --mat-sys-on-secondary-container: #004395;
  --mat-sys-secondary-fixed: #d8e2ff;
  --mat-sys-on-secondary-fixed: #001a42;
  --mat-sys-secondary-fixed-dim: #adc6ff;
  --mat-sys-on-secondary-fixed-variant: #004395;
  --mat-sys-tertiary: #0053db;
  --mat-sys-on-tertiary: #fff;
  --mat-sys-tertiary-container: #dbe1ff;
  --mat-sys-on-tertiary-container: #003ea8;
  --mat-sys-tertiary-fixed: #dbe1ff;
  --mat-sys-on-tertiary-fixed: #00174b;
  --mat-sys-tertiary-fixed-dim: #b4c5ff;
  --mat-sys-on-tertiary-fixed-variant: #003ea8;
  --mat-sys-error: #b91c1c;
  --mat-sys-on-error: #fff;
  --mat-sys-error-container: #ffdad6;
  --mat-sys-on-error-container: #93000b;
  --mat-sys-background: #f8f9fb;
  --mat-sys-on-background: #191c1e;
  --mat-sys-surface: #f8f9fb;
  --mat-sys-on-surface: #191c1e;
  --mat-sys-surface-variant: #dfe3e9;
  --mat-sys-on-surface-variant: #43474c;
  --mat-sys-outline: #73777d;
  --mat-sys-outline-variant: #c3c7cd;
  --mat-sys-shadow: #000;
  --mat-sys-scrim: #000;
  --mat-sys-inverse-surface: #2e3132;
  --mat-sys-inverse-on-surface: #f0f1f3;
  --mat-sys-inverse-primary: #b6c4ff;
  --mat-sys-surface-dim: #d9dadc;
  --mat-sys-surface-bright: #f8f9fb;
  --mat-sys-surface-container-lowest: #fff;
  --mat-sys-surface-container-low: #f3f4f6;
  --mat-sys-surface-container: #edeef0;
  --mat-sys-surface-container-high: #e7e8ea;
  --mat-sys-surface-container-highest: #e1e2e4;
  --mat-extended-success-color: #216a4d;
  --mat-extended-success-on-color: #fff;
  --mat-extended-success-color-container: #a9f2cc;
  --mat-extended-success-on-color-container: #002114;
  --mat-extended-warning-color: #78590c;
  --mat-extended-warning-on-color: #fff;
  --mat-extended-warning-color-container: #ffdea0;
  --mat-extended-warning-on-color-container: #5c4300;
}
