:root {
  --mat-sys-primary: rgb(11 30 82);
  --mat-sys-surface-tint: rgb(76 92 146);
  --mat-sys-on-primary: rgb(255 255 255);
  --mat-sys-primary-container: rgb(48 64 116);
  --mat-sys-on-primary-container: rgb(255 255 255);
  --mat-sys-secondary: rgb(0 32 78);
  --mat-sys-on-secondary: rgb(255 255 255);
  --mat-sys-secondary-container: rgb(39 66 116);
  --mat-sys-on-secondary-container: rgb(255 255 255);
  --mat-sys-tertiary: rgb(8 31 82);
  --mat-sys-on-tertiary: rgb(255 255 255);
  --mat-sys-tertiary-container: rgb(46 64 116);
  --mat-sys-on-tertiary-container: rgb(255 255 255);
  --mat-sys-error: rgb(68 16 12);
  --mat-sys-on-error: rgb(255 255 255);
  --mat-sys-error-container: rgb(110 48 42);
  --mat-sys-on-error-container: rgb(255 255 255);
  --mat-sys-background: rgb(250 248 255);
  --mat-sys-on-background: rgb(26 27 33);
  --mat-sys-surface: rgb(246 250 254);
  --mat-sys-on-surface: rgb(0 0 0);
  --mat-sys-surface-variant: rgb(221 227 234);
  --mat-sys-on-surface-variant: rgb(31 37 42);
  --mat-sys-outline: rgb(61 67 73);
  --mat-sys-outline-variant: rgb(61 67 73);
  --mat-sys-shadow: rgb(0 0 0);
  --mat-sys-scrim: rgb(0 0 0);
  --mat-sys-inverse-surface: rgb(44 49 52);
  --mat-sys-inverse-on-surface: rgb(255 255 255);
  --mat-sys-inverse-primary: rgb(233 235 255);
  --mat-sys-primary-fixed: rgb(48 64 116);
  --mat-sys-on-primary-fixed: rgb(255 255 255);
  --mat-sys-primary-fixed-dim: rgb(24 41 93);
  --mat-sys-on-primary-fixed-variant: rgb(255 255 255);
  --mat-sys-secondary-fixed: rgb(39 66 116);
  --mat-sys-on-secondary-fixed: rgb(255 255 255);
  --mat-sys-secondary-fixed-dim: rgb(11 43 92);
  --mat-sys-on-secondary-fixed-variant: rgb(255 255 255);
  --mat-sys-tertiary-fixed: rgb(46 64 116);
  --mat-sys-on-tertiary-fixed: rgb(255 255 255);
  --mat-sys-tertiary-fixed-dim: rgb(22 42 93);
  --mat-sys-on-tertiary-fixed-variant: rgb(255 255 255);
  --mat-sys-surface-dim: rgb(214 219 222);
  --mat-sys-surface-bright: rgb(246 250 254);
  --mat-sys-surface-container-lowest: rgb(255 255 255);
  --mat-sys-surface-container-low: rgb(240 244 248);
  --mat-sys-surface-container: rgb(234 238 242);
  --mat-sys-surface-container-high: rgb(228 233 236);
  --mat-sys-surface-container-highest: rgb(223 227 231);
  --mat-extended-success-color: rgb(0 40 25);
  --mat-extended-success-on-color: rgb(255 255 255);
  --mat-extended-success-color-container: rgb(0 77 52);
  --mat-extended-success-on-color-container: rgb(255 255 255);
}
