:root {
  --mat-sys-primary: #0b1e52;
  --mat-sys-surface-tint: #4c5c92;
  --mat-sys-on-primary: #fff;
  --mat-sys-primary-container: #304074;
  --mat-sys-on-primary-container: #fff;
  --mat-sys-secondary: #00204e;
  --mat-sys-on-secondary: #fff;
  --mat-sys-secondary-container: #274274;
  --mat-sys-on-secondary-container: #fff;
  --mat-sys-tertiary: #081f52;
  --mat-sys-on-tertiary: #fff;
  --mat-sys-tertiary-container: #2e4074;
  --mat-sys-on-tertiary-container: #fff;
  --mat-sys-error: #44100c;
  --mat-sys-on-error: #fff;
  --mat-sys-error-container: #6e302a;
  --mat-sys-on-error-container: #fff;
  --mat-sys-background: #faf8ff;
  --mat-sys-on-background: #1a1b21;
  --mat-sys-surface: #f6fafe;
  --mat-sys-on-surface: #000;
  --mat-sys-surface-variant: #dde3ea;
  --mat-sys-on-surface-variant: #1f252a;
  --mat-sys-outline: #3d4349;
  --mat-sys-outline-variant: #3d4349;
  --mat-sys-shadow: #000;
  --mat-sys-scrim: #000;
  --mat-sys-inverse-surface: #2c3134;
  --mat-sys-inverse-on-surface: #fff;
  --mat-sys-inverse-primary: #e9ebff;
  --mat-sys-primary-fixed: #304074;
  --mat-sys-on-primary-fixed: #fff;
  --mat-sys-primary-fixed-dim: #18295d;
  --mat-sys-on-primary-fixed-variant: #fff;
  --mat-sys-secondary-fixed: #274274;
  --mat-sys-on-secondary-fixed: #fff;
  --mat-sys-secondary-fixed-dim: #0b2b5c;
  --mat-sys-on-secondary-fixed-variant: #fff;
  --mat-sys-tertiary-fixed: #2e4074;
  --mat-sys-on-tertiary-fixed: #fff;
  --mat-sys-tertiary-fixed-dim: #162a5d;
  --mat-sys-on-tertiary-fixed-variant: #fff;
  --mat-sys-surface-dim: #d6dbde;
  --mat-sys-surface-bright: #f6fafe;
  --mat-sys-surface-container-lowest: #fff;
  --mat-sys-surface-container-low: #f0f4f8;
  --mat-sys-surface-container: #eaeef2;
  --mat-sys-surface-container-high: #e4e9ec;
  --mat-sys-surface-container-highest: #dfe3e7;
  --mat-extended-success-color: #002819;
  --mat-extended-success-on-color: #fff;
  --mat-extended-success-color-container: #004d34;
  --mat-extended-success-on-color-container: #fff;
  --mat-extended-warning-color: #3b2900;
  --mat-extended-warning-on-color: #fff;
  --mat-extended-warning-color-container: #5f4500;
  --mat-extended-warning-on-color-container: #fff;
}
