@font-face {
  src: url('../../public/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-family: Lato, sans-serif;
}

@font-face {
  src: url('../../public/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-family: Lato, sans-serif;
}
