@use 'styles/mixins' as mixins;
@use 'styles/breakpoints' as bp;
@use 'sass:map';

:root {
  --main-padding-vertical: 1rem;
  --main-padding-horizontal: 4rem;
}

@media #{map.get(bp.$breakpoints, xsmall)} {
  :root {
    --main-padding-horizontal: 0.5rem;
  }
}

@media #{map.get(bp.$breakpoints, small)} {
  :root {
    --main-padding-horizontal: 1rem;
  }
}

hr {
  border-style: solid;
  border-color: var(--mat-sys-outline);
  border-radius: 24px;
}
