h1 {
  font: var(--mat-sys-headline-large);
}

h2 {
  font: var(--mat-sys-headline-medium);
}

h3 {
  font: var(--mat-sys-headline-small);
}

p {
  font: var(--mat-sys-body-medium);

  &.bold {
    font-weight: 700;
  }

  &.primary-color {
    color: var(--mat-sys-primary);
  }

  &.on-primary-container-color {
    color: var(--mat-sys-on-primary-container);
  }

  &.error-color {
    color: var(--mat-sys-error);
  }

  &.pre-line {
    white-space: pre-line;
  }
}

small {
  font: var(--mat-sys-body-small);

  &.bold {
    font-weight: 700;
  }
}
