<button
  (click)="openOverlay()"
  class="fab-md fab-secondary"
  cdkOverlayOrigin
  #settingsTrigger="cdkOverlayOrigin"
  mat-fab
>
  <mat-icon class="icon-on-secondary">settings</mat-icon>
</button>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="settingsTrigger"
  [cdkConnectedOverlayOpen]="isOverlayAttached()"
  [cdkConnectedOverlayPositions]="overlayPositions()"
  [cdkConnectedOverlayScrollStrategy]="overlayScrollStrategy"
  [cdkConnectedOverlayWidth]="480"
  [cdkConnectedOverlayHeight]="360"
  (overlayOutsideClick)="closeOverlay()"
  (detach)="detachOverlay()"
>
  <ng-content />
</ng-template>
