@use 'styles/mixins' as mixins;
@use 'styles/breakpoints' as bp;
@use 'sass:map';

:host {
  gap: mixins.rem(16);
  display: flex;
  justify-content: space-between;

  @media #{map.get(bp.$breakpoints, xsmall)} {
    flex-direction: column;
  }

  @media #{map.get(bp.$breakpoints, small)} {
    flex-direction: column;
  }
}
