<ui-flex-block flexAlignItems="center" overflow="hidden" flexJustifyContent="flex-start" flex="auto">
  <button (click)="goBack()" class="mini-fab-md mini-fab-primary" mat-mini-fab>
    <mat-icon class="icon-md icon-on-secondary">chevron_left</mat-icon>
  </button>
  <ng-content select="[heading]" />
</ui-flex-block>
@if (isActionButtonsShown()) {
  <ui-flex-block
    [gapSize]="isSmallScreen() ? '8' : '16'"
    flexAlignItems="center"
    flexJustifyContent="flex-end"
    flex="0 1 auto"
    [flexWrap]="isSmallScreen() ? 'wrap' : 'nowrap'"
  >
    <ng-content select="[action-buttons]" />
  </ui-flex-block>
}
