<card-container [hideHeading]="true">
  <ng-container content>
    <ui-grid-block [gridTemplateColumns]="infoGridTemplateColumns()">
      <card-field [caption]="`${SharedLocalization.name}:`">
        {{ selectors.file()?.name | fallback: SharedLocalization.noName }}
      </card-field>
      <card-field [caption]="`${SharedLocalization.originalName}:`">
        <a
          [href]="fileHref()"
          target="_blank"
          rel="noopener noreferrer"
          class="button-anchor-md-with-icon"
          interactionEffect
          [targetSelectors]="['p', 'mat-icon']"
          mat-button
        >
          <p>{{ selectors.file()?.fileName | fallback: SharedLocalization.noOriginalName }}</p>
          <mat-icon class="icon-primary">open_in_new</mat-icon>
        </a>
      </card-field>
      <card-field [caption]="`${SharedLocalization.description}:`">
        {{ selectors.file()?.description | fallback: SharedLocalization.noDescription }}
      </card-field>
      <card-field [caption]="`${SharedLocalization.isPublic}:`">
        {{ selectors.file()?.isPublic | boolToText }}
      </card-field>
      <card-field [caption]="`${SharedLocalization.isActive}:`">
        {{ selectors.file()?.isActive | boolToText }}
      </card-field>
      <card-field [caption]="`${SharedLocalization.fileLocation}:`">
        {{ FileStorageTypeMap.get(selectors.file()?.fileStorageType)?.text ?? '' }}
      </card-field>
      <card-field [caption]="`${SharedLocalization.createDate}:`">
        {{ selectors.file()?.created | date: 'short' }}
      </card-field>
      <card-field [caption]="`${SharedLocalization.updateDate}:`">
        {{ selectors.file()?.updated | date: 'short' }}
      </card-field>
    </ui-grid-block>
  </ng-container>
</card-container>
