<card-container [hideHeading]="true">
  <ng-container content>
    <ui-grid-block [gridTemplateColumns]="infoGridTemplateColumns()">
      <card-field [caption]="`${SharedLocalization.name}:`">
        {{ selectors.file()?.name | fallback: SharedLocalization.noName }}
      </card-field>
      <card-field [caption]="`${SharedLocalization.originalName}:`">
        {{ selectors.file()?.fileName | fallback: SharedLocalization.noOriginalName }}
      </card-field>
      <card-field [caption]="`${SharedLocalization.description}:`">
        {{ selectors.file()?.description | fallback: SharedLocalization.noDescription }}
      </card-field>
      <card-field [caption]="`${SharedLocalization.isPublic}:`">
        {{ selectors.file()?.isPublic | boolToText }}
      </card-field>
      <card-field [caption]="`${SharedLocalization.isActive}:`">
        {{ selectors.file()?.isActive | boolToText }}
      </card-field>
      <card-field [caption]="`${SharedLocalization.fileLocation}:`">
        {{ FileStorageTypeMap.get(selectors.file()?.fileStorageType)?.text ?? '' }}
      </card-field>
      <card-field [caption]="`${SharedLocalization.createDate}:`">
        {{ selectors.file()?.created | date: 'short' }}
      </card-field>
      <card-field [caption]="`${SharedLocalization.updateDate}:`">
        {{ selectors.file()?.updated | date: 'short' }}
      </card-field>
    </ui-grid-block>
  </ng-container>
</card-container>
