@if (!selectors.isFileLoadErr()) {
  @if (!selectors.isFileLoading() && !selectors.fileUsagesState().isFileUsagesLoading) {
    <toolbar>
      <ng-container heading>
        <h1 ellipsis>{{ selectors.file()?.name | fallback: SharedLocalization.noName }}</h1>
      </ng-container>
      <ng-container action-buttons>
        <a [routerLink]="`../${selectors.file()?.id}/${AppRoutes.edit}`" class="button-md" mat-flat-button>
          {{ SharedLocalization.edit }}
        </a>
        @if (isSmallScreen()) {
          <more-menu>
            @if (!selectors.isFileDownloading()) {
              <button
                (click)="
                  actions.downloadFile(
                    selectors.file()!.id,
                    selectors.file()!.fileName,
                    selectors.file()!.fileStorageType,
                    selectors.file()!.storagePath
                  )
                "
                mat-menu-item
              >
                <mat-icon>download</mat-icon>
                {{ SharedLocalization.download }}
              </button>
            } @else {
              <div disabled mat-menu-item>
                <ui-skeleton height="40" />
              </div>
            }
            @if (!selectors.isDeleteInProgress()) {
              <button (click)="actions.deleteFiles([selectors.file()!.id], destroyRef, false, true)" mat-menu-item>
                <mat-icon>delete</mat-icon>
                {{ SharedLocalization.delete }}
              </button>
            } @else {
              <div disabled mat-menu-item>
                <ui-skeleton height="40" />
              </div>
            }
          </more-menu>
        } @else {
          @if (!selectors.isFileDownloading()) {
            <button
              (click)="
                actions.downloadFile(
                  selectors.file()!.id,
                  selectors.file()!.fileName,
                  selectors.file()!.fileStorageType,
                  selectors.file()!.storagePath
                )
              "
              class="button-md"
              mat-flat-button
            >
              {{ SharedLocalization.download }}
            </button>
          } @else {
            <ui-skeleton height="40" width="116" />
          }
          @if (!selectors.isDeleteInProgress()) {
            <button
              (click)="actions.deleteFiles([selectors.file()!.id], destroyRef, false, true)"
              class="button-md"
              mat-flat-button
            >
              {{ SharedLocalization.delete }}
            </button>
          } @else {
            <ui-skeleton height="40" width="110" />
          }
        }
      </ng-container>
    </toolbar>
    <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="tab-nav-bar">
      @for (link of tabLinks; track link.link) {
        <a [routerLink]="link.link" [active]="rla.isActive" #rla="routerLinkActive" routerLinkActive mat-tab-link>
          {{ link.title | uppercase }}
        </a>
      }
    </nav>
    <mat-tab-nav-panel #tabPanel>
      <router-outlet />
    </mat-tab-nav-panel>
  } @else {
    <ui-skeleton height="44" />
    <ui-skeleton height="48" />
    <ui-skeleton height="224" />
  }
} @else {
  <ui-alert type="danger" icon="error" [title]="ErrorsLocalization.errorFetchingFile" [isClosable]="false">
    <ui-flex-block>
      <button (click)="ngOnInit()" class="button-lg button-error" mat-flat-button>
        {{ SharedLocalization.refresh }}
      </button>
    </ui-flex-block>
  </ui-alert>
}
