<data-view
  [displayType]="selectors.displayType()"
  (displayTypeChange)="actions.setDisplayType($event.value)"
  (advancedSearchClicked)="openAdvancedSearch()"
  (searchValueChange)="actions.setQrCardListSearchValue($event)"
>
  <ng-content view-settings>
    @if (!isSmallScreen()) {
      <view-mode-settings #vmSettings="vmSettings">
        <column-config-overlay
          [allCols]="ALL_QR_TABLE_COLS"
          [selectedCols]="selectors.settingsState().settings.qrTableColumns"
          [isDisabled]="selectors.settingsState().isLoadingSettings || selectors.settingsState().isSavingSettings"
          (selectedColsChange)="actions.patchSettings({ qrTableColumns: $event })"
          overlayAnimation
          [isOpen]="vmSettings.isOverlayOpen()"
          (animationDone)="vmSettings.onOverlayClosed()"
          (closeOverlay)="vmSettings.onOverlayClosed()"
        />
      </view-mode-settings>
    }
  </ng-content>
  <selection-bar
    *animatedIf="!!selectors.selectedQrCardList().length"
    [count]="selectors.selectedQrCardList().length"
    (onSelectAll)="actions.selectAllQrCards()"
    (onClose)="actions.setSelectedQrCards([])"
  >
    @if (!selectors.isDeleteInProgress()) {
      <button
        (click)="actions.deleteQrCards(selectors.selectedQrCardList(), destroyRef)"
        class="mini-fab-md mini-fab-secondary"
        mat-mini-fab
      >
        <mat-icon class="icon-on-secondary">delete</mat-icon>
      </button>
    } @else {
      <ui-skeleton width="40" height="40" borderRadius="50%" />
    }
  </selection-bar>
  @if (selectors.displayType() === 'list') {
    <qr-card-list (selectionChanged)="actions.setSelectedQrCards($event)" />
  }
  @if (selectors.displayType() === 'table') {
    <h1>{{ SharedLocalization.dev }}</h1>
  }
</data-view>
