<data-view
  [searchValue]="selectors.searchValue()"
  (advancedSearchClicked)="openAdvancedSearch()"
  (searchValueChange)="actions.setQrCardListSearchValue($event)"
>
  <ng-content view-settings>
    @if (!isSmallScreen()) {
      <overlay-container #overlayContainer="overlayContainer">
        <ng-container trigger>
          <button (click)="overlayContainer.openOverlay()" class="fab-md fab-secondary" cdkOverlayOrigin mat-fab>
            <mat-icon class="icon-on-secondary">settings</mat-icon>
          </button>
        </ng-container>
        <column-config-overlay
          [allCols]="selectors.allQrCols()"
          [selectedCols]="selectors.settingsState().settings.qrTableColumns"
          [isDisabled]="selectors.settingsState().isLoadingSettings || selectors.settingsState().isSavingSettings"
          (selectedColsChange)="actions.patchSettings({ qrTableColumns: $event })"
          overlayAnimation
          [isOpen]="overlayContainer.isOverlayOpen()"
          (animationDone)="overlayContainer.onOverlayClosed()"
          (closeOverlay)="overlayContainer.onOverlayClosed()"
        />
      </overlay-container>
    }
  </ng-content>
  <selection-bar
    *animatedIf="!!selectors.selectedQrCardList().length"
    [count]="selectors.selectedQrCardList().length"
    (onSelectAll)="actions.selectAllQrCards()"
    (onClose)="actions.setSelectedQrCards([])"
  >
    @if (!selectors.isDeleteInProgress()) {
      <button
        (click)="actions.deleteQrCards(selectors.selectedQrCardList(), destroyRef)"
        class="mini-fab-md mini-fab-secondary"
        mat-mini-fab
      >
        <mat-icon class="icon-on-secondary">delete</mat-icon>
      </button>
    } @else {
      <ui-skeleton width="40" height="40" borderRadius="50%" />
    }
  </selection-bar>
  <router-outlet style="display: contents" />
</data-view>
