<data-view
  [displayType]="selectors.displayType()"
  (displayTypeChange)="actions.setDisplayType($event.value)"
  (advancedSearchClicked)="openAdvancedSearch()"
>
  @if (selectors.selectedTemplateList().length) {
    <selection-bar
      [count]="selectors.selectedTemplateList().length"
      (onSelectAll)="actions.selectAllTemplates()"
      (onClose)="actions.setSelectedTemplates([])"
      [@expandFade]
    >
      @if (!selectors.isDeleteInProgress()) {
        <button
          (click)="actions.deleteTemplates(selectors.selectedTemplateList(), destroyRef)"
          class="mini-fab-md mini-fab-secondary"
          mat-mini-fab
        >
          <mat-icon class="icon-on-secondary">delete</mat-icon>
        </button>
      } @else {
        <ui-skeleton width="40" height="40" borderRadius="50%" />
      }
    </selection-bar>
  }
  @if (selectors.displayType() === 'list') {
    <template-list (selectionChanged)="actions.setSelectedTemplates($event)" />
  }
  @if (selectors.displayType() === 'table') {
    <h1>Not implemented</h1>
  }
</data-view>
