<ui-flex-block flexAlignItems="center" flexJustifyContent="space-between">
  <h1>{{ dialogData.textContent }}</h1>
  <button [mat-dialog-close]="undefined" class="icon-button-sm" mat-icon-button>
    <mat-icon class="icon-primary">close</mat-icon>
  </button>
</ui-flex-block>
@if (dialogData.textSubContent) {
  <p>{{ dialogData.textSubContent }}</p>
}
@if (dialogData.showConfirmationCheckbox) {
  <ui-flex-block
    gapSize="4"
    [flexAlignItems]="isXSmall() ? 'flex-start' : 'center'"
    [flexDirection]="isXSmall() ? 'column' : 'row'"
  >
    <mat-checkbox
      [formControl]="checkboxControl"
      [class.checkbox-invalid]="checkboxControl.invalid && checkboxControl.touched"
    >
      {{ dialogData.confirmationCheckboxText }}
    </mat-checkbox>
    @if (checkboxControl.invalid && checkboxControl.touched) {
      <mat-error> {{ ConfirmationDialogLocalization.confirmationRequired }} </mat-error>
    }
  </ui-flex-block>
}
<ui-grid-block gridTemplateColumns="repeat(auto-fit, minmax(200px, 1fr))" gridJustifyItems="center">
  <ui-grid-block gridTemplateColumns="repeat(1, 1fr)" gridJustifyItems="center">
    <button [mat-dialog-close]="false" class="fab-icon-primary-button-xxxl" mat-fab cdkFocusInitial>
      <mat-icon class="icon-on-primary icon-xxxl">close</mat-icon>
    </button>
    <a [mat-dialog-close]="false" class="button-anchor-md" mat-button interactionEffect>
      {{ dialogData.cancelButtonText }}
    </a>
  </ui-grid-block>
  <ui-grid-block gridTemplateColumns="repeat(1, 1fr)" gridJustifyItems="center">
    <button (click)="confirm()" class="fab-icon-primary-button-xxxl" mat-fab>
      <mat-icon class="icon-on-primary icon-xxxl">done_all</mat-icon>
    </button>
    <button (click)="confirm()" class="button-anchor-md" mat-button interactionEffect>
      {{ dialogData.confirmButtonText }}
    </button>
  </ui-grid-block>
</ui-grid-block>
