@use 'styles/mixins' as mixins;

:host {
  gap: mixins.rem(8);
  width: 100%;
  color: var(--mat-sys-on-surface);
  display: flex;
  background: var(--mat-sys-surface-container);
  box-shadow: var(--mat-sys-level2);
  border-radius: mixins.rem(16);
  flex-direction: column;
  transform-origin: top left;
}
