@use 'styles/mixins' as mixins;
@use '@angular/material' as mat;

:host {
  gap: mixins.rem(8);
  width: 100%;
  color: var(--mat-sys-on-surface);
  display: flex;
  background: var(--mat-sys-surface-container);
  box-shadow: var(--mat-sys-level2);
  border-radius: mixins.rem(16);
  flex-direction: column;
  transform-origin: top left;

  .create-action-list {
    @include mat.list-overrides(
      (
        list-item-leading-icon-color: var(--mat-sys-primary),
        list-item-hover-leading-icon-color: var(--mat-sys-primary),
      )
    );
  }
}
