<mat-action-list class="create-action-list">
  <a mat-list-item>
    <mat-icon matListItemIcon>article</mat-icon>
    {{ CreateMenuOverlayLocalization.createCard }}
  </a>
  <a routerLink="/templates/new" mat-list-item>
    <mat-icon matListItemIcon>difference</mat-icon>
    {{ CreateMenuOverlayLocalization.createTemplate }}
  </a>
  <a routerLink="/files/new" (click)="closeOverlay.emit()" mat-list-item>
    <mat-icon matListItemIcon>upload_file</mat-icon>
    {{ CreateMenuOverlayLocalization.uploadFile }}
  </a>
  <a mat-list-item>
    <mat-icon matListItemIcon>note_add</mat-icon>
    {{ CreateMenuOverlayLocalization.createDoc }}
  </a>
</mat-action-list>
