<mat-action-list>
  <mat-list-item>
    <ui-icon icon="cards" width="24" height="24" matListItemIcon />
    <p>{{ CreateMenuOverlayLocalization.createCard }}</p>
  </mat-list-item>
  <mat-list-item>
    <ui-icon icon="template" width="24" height="24" matListItemIcon />
    <p>{{ CreateMenuOverlayLocalization.createTemplate }}</p>
  </mat-list-item>
  <mat-list-item>
    <ui-icon icon="folder" width="24" height="24" matListItemIcon />
    <p>{{ CreateMenuOverlayLocalization.uploadFile }}</p>
  </mat-list-item>
  <mat-list-item>
    <ui-icon icon="doc" width="24" height="24" matListItemIcon />
    <p>{{ CreateMenuOverlayLocalization.createDoc }}</p>
  </mat-list-item>
</mat-action-list>
