@if (!selectors.settingsState().isLoadingSettings) {
  <card-container [hideHeading]="true">
    <ng-container content>
      <toolbar [navigateTo]="['../']">
        @if (!isSmallScreen()) {
          <ng-container heading>
            <h1>{{ RouteTitles.settings }}</h1>
          </ng-container>
        }
        <ng-container action-buttons>
          @if (!selectors.settingsState().isSavingSettings) {
            <button (click)="saveData()" class="button-md" mat-flat-button>
              <ui-flex-block gapSize="4">
                {{ SharedLocalization.save }}
                @if (formHasUnsavedChanges()) {
                  <indicator />
                }
              </ui-flex-block>
            </button>
          } @else {
            <ui-skeleton height="40" width="128" />
          }
        </ng-container>
      </toolbar>
    </ng-container>
  </card-container>
  <card-container>
    <ng-container heading>
      <h1>{{ SettingsLocalization.main }}</h1>
    </ng-container>
    <ng-container content>
      <ui-grid-block gridAlignItems="center" [gridTemplateColumns]="gridTemplateColumns()">
        <mat-form-field class="form-field-lg">
          <mat-label>
            {{ SettingsLocalization.defaultQrPrintText }}
          </mat-label>
          <input [formControl]="form.controls.defaultQrPrintText" matInput />
          <mat-icon
            class="icon-primary"
            matSuffix
            matTooltipPosition="above"
            [matTooltip]="SettingsLocalization.qrPrintVars"
          >
            info
          </mat-icon>
          @if (form.controls.defaultQrPrintText.touched && form.controls.defaultQrPrintText.hasError('maxlength')) {
            <mat-error>{{ SharedLocalization.maxLength }} {{ MAX_NAME_LENGTH }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="form-field-lg">
          <mat-label> {{ SettingsLocalization.defaultQrPrintTextDown }} </mat-label>
          <input [formControl]="form.controls.defaultQrPrintTextDown" matInput />
          <mat-icon
            class="icon-primary"
            matSuffix
            matTooltipPosition="above"
            [matTooltip]="SettingsLocalization.qrPrintVars"
          >
            info
          </mat-icon>
          @if (
            form.controls.defaultQrPrintTextDown.touched && form.controls.defaultQrPrintTextDown.hasError('maxlength')
          ) {
            <mat-error>{{ SharedLocalization.maxLength }} {{ MAX_NAME_LENGTH }}</mat-error>
          }
        </mat-form-field>
        <mat-slide-toggle [formControl]="form.controls.checkUploadSize" class="slide-toggle">
          {{ SettingsLocalization.checkUploadSize }}
        </mat-slide-toggle>
        <a [routerLink]="AppRoutes.password" class="button-lg" mat-flat-button>
          <p class="center">{{ SettingsLocalization.changePassword }}</p>
        </a>
        @if (!isXSmall()) {
          <overlay-container #overlayContainer="overlayContainer" originX="start" overlayX="start">
            <ng-container trigger>
              <button
                (click)="overlayContainer.openOverlay()"
                class="button-lg"
                cdkOverlayOrigin
                mat-flat-button
                style="width: 100%"
              >
                {{ SettingsLocalization.qrTableSettings }}
              </button>
            </ng-container>
            <column-config-overlay
              [allCols]="selectors.allQrCols()"
              [selectedCols]="selectors.settingsState().settings.qrTableColumns"
              [isDisabled]="selectors.settingsState().isLoadingSettings || selectors.settingsState().isSavingSettings"
              (selectedColsChange)="actions.patchSettings({ qrTableColumns: $event })"
              overlayAnimation
              [isOpen]="overlayContainer.isOverlayOpen()"
              (animationDone)="overlayContainer.onOverlayClosed()"
              (closeOverlay)="overlayContainer.onOverlayClosed()"
            />
          </overlay-container>
        }
      </ui-grid-block>
    </ng-container>
  </card-container>
  <card-container>
    <ng-container heading>
      <h1>{{ SettingsLocalization.viewMode }}</h1>
    </ng-container>
    <ng-container content>
      <ui-grid-block gridJustifyItems="flex-start" [gridTemplateColumns]="viewModeGridTemplateColumns()">
        <ui-grid-block gridJustifyItems="flex-start" rowGapSize="4" gridTemplateColumns="1fr">
          <p>{{ SettingsLocalization.qrCardsViewMode }}</p>
          <mat-button-toggle-group [formControl]="form.controls.qrCardListViewMode">
            @for (option of displayTypeList; track option.value) {
              <mat-button-toggle [value]="option.value">{{ option.viewValue }}</mat-button-toggle>
            }
          </mat-button-toggle-group>
        </ui-grid-block>
        <ui-grid-block gridJustifyItems="flex-start" rowGapSize="4" gridTemplateColumns="1fr">
          <p>{{ SettingsLocalization.templatesViewMode }}</p>
          <mat-button-toggle-group [formControl]="form.controls.templateListViewMode">
            @for (option of displayTypeList; track option.value) {
              <mat-button-toggle [value]="option.value">{{ option.viewValue }}</mat-button-toggle>
            }
          </mat-button-toggle-group>
        </ui-grid-block>
        <ui-grid-block gridJustifyItems="flex-start" rowGapSize="4" gridTemplateColumns="1fr">
          <p>{{ SettingsLocalization.templateAttrsEditViewMode }}</p>
          <mat-button-toggle-group [formControl]="form.controls.templateAttrsEditViewMode">
            @for (option of displayTypeList; track option.value) {
              <mat-button-toggle [value]="option.value">{{ option.viewValue }}</mat-button-toggle>
            }
          </mat-button-toggle-group>
        </ui-grid-block>
        <ui-grid-block gridJustifyItems="flex-start" rowGapSize="4" gridTemplateColumns="1fr">
          <p>{{ SettingsLocalization.filesViewMode }}</p>
          <mat-button-toggle-group [formControl]="form.controls.fileListViewMode">
            @for (option of displayTypeList; track option.value) {
              <mat-button-toggle [value]="option.value">{{ option.viewValue }}</mat-button-toggle>
            }
          </mat-button-toggle-group>
        </ui-grid-block>
      </ui-grid-block>
    </ng-container>
  </card-container>
  <card-container>
    <ng-container heading>
      <h1>{{ SharedLocalization.ranges }}</h1>
    </ng-container>
    <ng-container content>
      <ui-grid-block [gridTemplateColumns]="gridTemplateColumns()">
        @for (range of selectors.authInfo()?.ranges ?? []; track range.id) {
          <ui-badge
            padding="8px 16px"
            color="var(--mat-sys-on-tertiary-container)"
            background="var(--mat-sys-tertiary-container)"
          >
            {{ range.name | fallback: SharedLocalization.emptyName }} {{ range.from | qrRange: range.to }}
          </ui-badge>
        }
      </ui-grid-block>
    </ng-container>
  </card-container>
} @else {
  <ui-skeleton height="92" />
  <ui-skeleton height="262" />
  <ui-skeleton height="200" />
}
<ng-template #mobileToolbar>
  <mobile-toolbar>
    <ng-container content>
      @if (!selectors.settingsState().isSavingSettings) {
        <button (click)="saveData()" class="button-md" mat-flat-button>
          <ui-flex-block gapSize="4">
            {{ SharedLocalization.save }}
            @if (formHasUnsavedChanges()) {
              <indicator />
            }
          </ui-flex-block>
        </button>
      } @else {
        <ui-skeleton height="40" width="128" />
      }
    </ng-container>
  </mobile-toolbar>
</ng-template>
