@use '@angular/material' as mat;
@use 'styles/mixins' as mixins;
@use 'styles/breakpoints' as bp;
@use 'sass:map';

:host {
  width: calc(100vw - calc(var(--main-padding-horizontal) * 2) - var(--scrollbar-width));
  bottom: 0;
  z-index: 2;
  display: flex;
  padding: mixins.rem(12) mixins.rem(16);
  position: fixed;
  background: var(--mat-sys-surface-container);
  align-items: center;
  border-radius: mixins.rem(12);
  justify-content: space-between;

  @media #{map.get(bp.$breakpoints, xsmall)} {
    width: calc(100vw - calc(var(--main-padding-horizontal) * 2));
    bottom: mixins.rem(80);
  }

  @media #{map.get(bp.$breakpoints, small)} {
    width: calc(100vw - calc(var(--main-padding-horizontal) * 2));
    bottom: mixins.rem(80);
  }
}
