<card-container>
  <ng-container heading>
    <h1>{{ RouteTitles.gs1 }}</h1>
  </ng-container>
  <ng-container action-buttons>
    <a
      [routerLink]="`/${AppRoutes.gs1}/${AppRoutes.new}/${AppRoutes.gs1}`"
      [queryParams]="{ qrId: selectors.qrCard()?.id }"
      class="button-md"
      mat-flat-button
    >
      {{ Gs1Localization.creation }}
    </a>
  </ng-container>
  <ng-container content>
    <ui-grid-block gridTemplateColumns="1fr">
      @for (gs1 of selectors.gs1LabelsState().gs1LabelList; track gs1.id) {
        <a [routerLink]="`/${AppRoutes.gs1}/${gs1.id}/${AppRoutes.edit}`" href="#" ellipsis>
          <ui-badge
            padding="8px 16px"
            color="var(--mat-sys-on-tertiary-container)"
            background="var(--mat-sys-tertiary-container)"
            cursor="pointer"
          >
            <p ellipsis>
              {{ gs1.gtin | fallback: SharedLocalization.noName }}
              @if (gs1.comment?.length) {
                ({{ gs1.comment }})
              }
            </p>
            @if (currentlyNavigatingGs1Id() === gs1.id) {
              <mat-spinner diameter="16" />
            }
          </ui-badge>
        </a>
      } @empty {
        <p>{{ SharedLocalization.noGs1 }}</p>
      }
    </ui-grid-block>
  </ng-container>
</card-container>
