<card-container>
  <ng-container heading>
    <h1>{{ RouteTitles.gs1 }}</h1>
  </ng-container>
  <ng-container action-buttons>
    <a
      [routerLink]="`/${AppRoutes.gs1}/${AppRoutes.new}/${AppRoutes.gs1}`"
      [queryParams]="{ qrId: selectors.qrCard()?.id }"
      class="button-md"
      mat-flat-button
    >
      {{ Gs1Localization.creation }}
    </a>
  </ng-container>
  <ng-container content>
    <ui-grid-block [gridTemplateColumns]="gridTemplateColumns()">
      @for (gs1 of selectors.gs1LabelsState().gs1LabelList; track gs1.id) {
        <card-container [hideHeading]="true">
          <ng-container content>
            <ui-grid-block rowGapSize="8" gridTemplateColumns="1fr">
              <ui-grid-block rowGapSize="4" [gridTemplateColumns]="gridTemplateColumns()">
                <card-field caption="GTIN:">
                  {{ gs1.gtin | fallback: SharedLocalization.noName }}
                </card-field>
                @if (gs1.comment) {
                  <card-field [caption]="`${SharedLocalization.description}:`">
                    {{ gs1.comment }}
                  </card-field>
                }
              </ui-grid-block>
              <ui-flex-block flexAlignItems="center">
                <a
                  [routerLink]="`/${AppRoutes.gs1}/${gs1.id}/${AppRoutes.edit}`"
                  [queryParams]="{ qrId: selectors.qrCard()?.id }"
                  class="icon-button-sm"
                  mat-icon-button
                >
                  <mat-icon class="icon-primary">edit</mat-icon>
                </a>
                <a class="icon-button-sm" mat-icon-button>
                  <mat-icon class="icon-primary">delete</mat-icon>
                </a>
                @if (currentlyNavigatingGs1Id() === gs1.id) {
                  <a class="icon-button-sm" mat-icon-button>
                    <mat-spinner diameter="24" />
                  </a>
                }
              </ui-flex-block>
            </ui-grid-block>
          </ng-container>
        </card-container>
      } @empty {
        <p>{{ SharedLocalization.noGs1 }}</p>
      }
    </ui-grid-block>
  </ng-container>
</card-container>
