<card-container>
  <ng-container heading>
    <h1>{{ RouteTitles.gs1 }}</h1>
  </ng-container>
  <ng-container action-buttons>
    <a
      [routerLink]="`/${AppRoutes.gs1}/${AppRoutes.new}/${AppRoutes.gs1}`"
      [queryParams]="{ qrId: selectors.qrCard()?.id }"
      class="button-md"
      mat-flat-button
    >
      {{ Gs1Localization.creation }}
    </a>
  </ng-container>
  <ng-container content>
    <ui-grid-block [gridTemplateColumns]="gridTemplateColumns()">
      @for (gs1 of selectors.gs1LabelsState().gs1LabelList; track gs1.id) {
        <qr-gs1-card
          [gs1]="gs1"
          [isNavigating]="currentlyNavigatingGs1Id() === gs1.id"
          [isDeleting]="!!selectors.gs1DeleteInProgressMap()?.[gs1.id]"
          (onRemove)="actions.unbindGs1(gs1.id, gs1.qrId, destroyRef)"
        />
      } @empty {
        <p>{{ SharedLocalization.noGs1 }}</p>
      }
    </ui-grid-block>
  </ng-container>
</card-container>
