<h1>{{ RouteTitles.login }}</h1>
<ui-flex-block gapSize="10" flexDirection="column" class="login-card">
  <mat-form-field class="form-field-lg">
    <mat-label>
      <ui-flex-block flexDisplay="inline-flex" gapSize="4" flexAlignItems="center">
        {{ SignUpLocalization.login }}
      </ui-flex-block>
    </mat-label>
    <input (keydown.enter)="submitForm()" [formControl]="form.controls.username" matInput />
    <button matSuffix class="icon-button-sm" disabled mat-icon-button>
      <mat-icon class="icon-secondary">person</mat-icon>
    </button>
    <mat-error>
      @if (form.controls.username.hasError('required')) {
        {{ SignUpLocalization.loginRequiredErr }}
      }
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-field-lg">
    <mat-label>
      <ui-flex-block flexDisplay="inline-flex" gapSize="4" flexAlignItems="center">
        {{ SignUpLocalization.pwd }}
      </ui-flex-block>
    </mat-label>
    <input
      (keydown.enter)="submitForm()"
      [formControl]="form.controls.password"
      matInput
      [type]="isPwdVisible() ? 'text' : 'password'"
    />
    <button (click)="isPwdVisible.set(!isPwdVisible())" matSuffix class="icon-button-sm" mat-icon-button>
      <mat-icon class="icon-secondary">{{ isPwdVisible() ? 'visibility' : 'visibility_off' }}</mat-icon>
    </button>
    <mat-error>
      @if (form.controls.password.hasError('required')) {
        {{ SignUpLocalization.pwdRequiredErr }}
      }
    </mat-error>
  </mat-form-field>
  <ui-flex-block
    gapSize="24"
    [flexDirection]="isXSmall() ? 'column-reverse' : 'row'"
    [flexAlignItems]="isXSmall() ? 'flex-end' : 'center'"
    [flexJustifyContent]="isXSmall() ? 'center' : 'flex-end'"
  >
    @if (selectors.configState().config.qrdConf?.signUpUri?.disabled === false) {
      <a
        [href]="selectors.configState().config.qrdConf?.signUpUri?.uri ?? '#'"
        rel="noopener noreferrer"
        class="button-md"
        mat-button
      >
        {{ SignUpLocalization.signUp }}
      </a>
    }
    @if (selectors.configState().config.qrdConf?.forgotPassUri?.disabled === false) {
      <a
        [href]="selectors.configState().config.qrdConf?.forgotPassUri?.uri ?? '#'"
        rel="noopener noreferrer"
        class="button-md"
        mat-button
      >
        {{ SignUpLocalization.forgotPwd }}
      </a>
    }
    <a
      [href]="selectors.configState().config.qrdConf?.oldAppUri?.uri"
      target="_blank"
      rel="noopener noreferrer"
      class="button-anchor-md"
      mat-button
      textInteractionEffect
    >
      {{ ProfileInfoOverlayLocalization.oldApp }}
    </a>
    @if (!selectors.isAuthInfoLoading()) {
      <button (click)="submitForm()" class="button-lg" mat-flat-button>{{ SharedLocalization.login }}</button>
    } @else {
      <ui-skeleton [width]="isXSmall() ? '100%' : '94'" height="48" />
    }
  </ui-flex-block>
</ui-flex-block>
