@use 'styles/mixins' as mixins;
@use 'styles/breakpoints' as bp;
@use 'sass:map';

:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  main {
    flex: auto;
    margin: 0 auto;
    display: flex;
    padding: mixins.rem(32) mixins.rem(64);
    max-width: mixins.rem(1280);
    min-height: calc(100svh - 72px);

    @media #{map.get(bp.$breakpoints, xsmall)} {
      padding: mixins.rem(12) mixins.rem(16);
    }
  }
}
