@use 'styles/mixins' as mixins;
@use 'styles/breakpoints' as bp;
@use 'sass:map';

:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  main {
    width: 100%;
    margin: 0 auto;
    padding: var(--main-padding-vertical) var(--main-padding-horizontal);
    max-width: mixins.rem(1280);
    min-height: calc(100svh - 72px);
  }
}
