<table mat-table [dataSource]="ctx.dataSource">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="toggleAllRows()"
        [checked]="ctx.selectionModel.hasValue() && isAllSelected()"
        [indeterminate]="ctx.selectionModel.hasValue() && !isAllSelected()"
      />
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="makeSelect(row)"
        [checked]="ctx.selectionModel.isSelected(row.id)"
      />
    </td>
  </ng-container>
  <ng-content />
</table>
