<!-- TODO в моб. версии mat-progress-bar не растягивается на всю ширину из-за overflow таблицы-->
<mat-progress-bar [mode]="isLoading() ? 'indeterminate' : 'determinate'" />
<table mat-table [dataSource]="ctx.dataSource">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="toggleAllRows()"
        [checked]="ctx.selectionModel.hasValue() && isAllSelected()"
        [indeterminate]="ctx.selectionModel.hasValue() && !isAllSelected()"
      />
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="makeSelect(row)"
        [checked]="ctx.selectionModel.isSelected(row.id)"
      />
    </td>
  </ng-container>
  <ng-content />
  <tr *matNoDataRow>
    @if (!isLoading()) {
      <td colspan="100%">
        <ui-alert
          [type]="isLoadErr() ? 'danger' : 'info'"
          [icon]="isLoadErr() ? 'error' : 'info'"
          [title]="isLoadErr() ? ErrorsLocalization.errorFetchingCardList : SharedLocalization.emptyList"
          [isClosable]="false"
          borderRadius="0"
        >
          <ui-flex-block>
            <button (click)="refresh.emit()" class="button-lg" [class.button-error]="isLoadErr()" mat-flat-button>
              {{ SharedLocalization.refresh }}
            </button>
          </ui-flex-block>
        </ui-alert>
      </td>
    }
  </tr>
</table>
