<a [href]="fileHref()" target="_blank" rel="noreferrer" [style.flex]="'auto'" [style.width]="'100%'" ellipsis>
  <p class="primary-color" ellipsis>{{ name() }}</p>
</a>
<ui-flex-block gapSize="8" flex="0 0 auto" flexAlignItems="center" [flexWrap]="isSmallScreen() ? 'wrap' : 'nowrap'">
  @if (fileSize()) {
    <ui-badge>
      <small>{{ fileSize() }}</small>
    </ui-badge>
  }
  @if (updated()) {
    <ui-badge [tooltipText]="SharedLocalization.updateDate" tooltipPosition="above">
      <small>{{ updated() }}</small>
    </ui-badge>
  }
  <button
    [matTooltip]="FileStorageTypeMap.get(fileStorageType())?.text ?? ''"
    matTooltipPosition="above"
    class="mini-fab-icon-primary-button-circle-sm"
    tabIndex="-1"
    mat-mini-fab
  >
    <mat-icon class="icon-on-secondary">{{ FileStorageTypeMap.get(fileStorageType())?.icon ?? '' }}</mat-icon>
  </button>
  <button
    [matTooltip]="isPublic() ? SharedLocalization.isPublic : SharedLocalization.nonPublic"
    matTooltipPosition="above"
    class="mini-fab-icon-primary-button-circle-sm"
    tabIndex="-1"
    mat-mini-fab
  >
    <mat-icon class="icon-on-secondary">{{ isPublic() ? 'visibility' : 'visibility_lock' }}</mat-icon>
  </button>
  <button
    [matTooltip]="isActive() ? SharedLocalization.isActive : SharedLocalization.isInactive"
    matTooltipPosition="above"
    class="mini-fab-icon-primary-button-circle-sm"
    tabIndex="-1"
    mat-mini-fab
  >
    <mat-icon class="icon-on-secondary">{{ isActive() ? 'done_all' : 'remove_done' }}</mat-icon>
  </button>
</ui-flex-block>
