@use 'styles/mixins' as mixins;
@use 'styles/breakpoints' as bp;
@use 'sass:map';

:host {
  display: flex;
  padding: mixins.rem(4) mixins.rem(8);
  overflow: hidden;
  flex-flow: row;
  background: var(--mat-sys-surface-container-low);
  align-items: center;
  border-radius: mixins.rem(12);
  justify-content: space-between;

  @media #{map.get(bp.$breakpoints, xsmall)} {
    gap: mixins.rem(8);
    display: grid;
  }

  @media #{map.get(bp.$breakpoints, small)} {
    gap: mixins.rem(8);
    display: grid;
  }
}
