@use 'styles/mixins' as mixins;
@use 'styles/animations' as anim;

:host {
  @include anim.overlay-animation;

  gap: mixins.rem(8);
  width: 100%;
  color: var(--mat-sys-on-surface);
  display: grid;
  padding: mixins.rem(8) mixins.rem(16);
  background: var(--mat-sys-surface-container);
  box-shadow: var(--mat-sys-level2);
  border-radius: mixins.rem(16);
  transform-origin: top left;

  hr {
    justify-self: stretch;
  }
}
