<ui-flex-block flexAlignItems="center" flexJustifyContent="space-between">
  <h3>{{ username() }}</h3>
  <button (click)="closeClick.emit()" class="icon-button-sm" mat-icon-button>
    <mat-icon class="icon-primary">close</mat-icon>
  </button>
</ui-flex-block>
@if (email()) {
  <p>{{ email() }}</p>
}
<hr />
<ui-grid-block gridTemplateColumns="1fr" rowGapSize="8" gridJustifyItems="start">
  <a class="button-anchor-md" mat-button textInteractionEffect>{{ ProfileInfoOverlayLocalization.aboutService }}</a>
  <a
    href="https://github.com/Eustrosoft/qrd-frontend/blob/master/CHANGELOG.md"
    target="_blank"
    rel="noopener noreferrer"
    class="button-anchor-md"
    mat-button
    textInteractionEffect
  >
    {{ ProfileInfoOverlayLocalization.versionHistory }}
  </a>
  <a class="button-anchor-md" mat-button textInteractionEffect>{{ ProfileInfoOverlayLocalization.feedback }}</a>
  <a class="button-anchor-md" mat-button textInteractionEffect>{{ ProfileInfoOverlayLocalization.help }}</a>
  <hr />
  <a class="button-anchor-md" mat-button textInteractionEffect>{{ SharedLocalization.settings }}</a>
  <hr />
  <a
    href="https://qrdemo.qxyz.ru/"
    target="_blank"
    rel="noopener noreferrer"
    class="button-anchor-md"
    mat-button
    textInteractionEffect
  >
    {{ ProfileInfoOverlayLocalization.oldApp }}
  </a>
  <hr />
</ui-grid-block>

<button (click)="logout()" class="button-md" mat-flat-button>{{ SharedLocalization.logout }}</button>
