@use 'styles/mixins' as mixins;

:host {
  gap: mixins.rem(8);
  height: 100%;
  display: flex;
  padding: var(--main-padding-vertical) var(--main-padding-horizontal);
  align-items: center;
  justify-content: space-between;
}
