@use 'styles/mixins' as mixins;
@use 'styles/breakpoints' as bp;
@use 'sass:map';

:host {
  gap: mixins.rem(24);
  display: grid;
  padding: mixins.rem(24) mixins.rem(32);
  overflow: auto;
  background: var(--mat-sys-surface-container-lowest);
  box-shadow: var(--mat-sys-level1);
  border-radius: mixins.rem(12);

  @media #{map.get(bp.$breakpoints, xsmall)} {
    gap: mixins.rem(16);
    padding: mixins.rem(8) mixins.rem(12);
  }

  @media #{map.get(bp.$breakpoints, small)} {
    gap: mixins.rem(16);
    padding: mixins.rem(16) mixins.rem(24);
  }
}
