@use '@angular/material' as mat;
@use 'styles/mixins' as mixins;
@use 'styles/breakpoints' as bp;
@use 'sass:map';

:host {
  gap: mixins.rem(8);
  left: 50%;
  width: min(calc(100% - (2 * var(--main-padding-horizontal))), calc(80rem - (2 * var(--main-padding-horizontal))));
  bottom: 0;
  z-index: 2;
  display: flex;
  padding: mixins.rem(12) mixins.rem(16);
  position: fixed;
  transform: translateX(-50%);
  background: var(--mat-sys-surface-container-high);
  box-shadow: var(--mat-sys-level2);
  align-items: center;
  border-radius: mixins.rem(12);
  justify-content: space-between;

  @media #{map.get(bp.$breakpoints, xsmall)} {
    width: calc(100vw - calc(var(--main-padding-horizontal) * 2));
    bottom: mixins.rem(88);
  }

  @media #{map.get(bp.$breakpoints, small)} {
    width: calc(100vw - calc(var(--main-padding-horizontal) * 2));
    bottom: mixins.rem(88);
  }
}
