<ui-flex-block flexAlignItems="center" flexWrap="wrap-reverse">
  <p>{{ SharedLocalization.selected }}: {{ count() }}</p>
  <button (click)="onSelectAll.emit()" class="button-md button-secondary" mat-flat-button>
    {{ SharedLocalization.selectAll }}
  </button>
</ui-flex-block>
<ui-flex-block gapSize="8" flexAlignItems="center">
  <ng-content />
  <button (click)="onClose.emit()" class="icon-button-sm" mat-icon-button>
    <mat-icon class="icon-secondary">close</mat-icon>
  </button>
</ui-flex-block>
