@if (!selectors.isFileLoading()) {
  <card-container [hideHeading]="true">
    <ng-container content>
      <toolbar [navigateTo]="['../']" [isActionButtonsShown]="false" ellipsis>
        <ng-container heading>
          @if (fileId) {
            <h1 ellipsis>
              {{ selectors.file()?.name }}
            </h1>
          }
        </ng-container>
      </toolbar>
    </ng-container>
  </card-container>
  <card-container [hideHeading]="true">
    <ng-container content>
      @if (fileId) {
        @if (selectors.fileAttachmentMode() === 'upload') {
          <file-upload-blob [fileMetadata]="selectors.file()" />
        }
        @if (selectors.fileAttachmentMode() === 'fileUrl') {
          <file-as-url [fileMetadata]="selectors.file()" />
        }
      } @else {
        <file-attachment-mode />
        @if (selectors.fileAttachmentMode() === 'upload') {
          <file-upload-blob (uploadCompleted)="goToView($event)" />
        }
        @if (selectors.fileAttachmentMode() === 'fileUrl') {
          <file-as-url (uploadCompleted)="goToView($event)" />
        }
      }
    </ng-container>
  </card-container>
} @else {
  <ui-skeleton height="88" />
  <ui-skeleton height="280" />
}
