<mat-form-field class="form-field-lg">
  @if (isFileListLoading()) {
    <mat-label>
      <ui-flex-block>
        <p>{{ SharedLocalization.loading }}</p>
        <mat-spinner diameter="24"></mat-spinner>
      </ui-flex-block>
    </mat-label>
  } @else {
    <mat-label>
      @if (isFileListLoadErr()) {
        <ui-flex-block flexAlignItems="center">
          <p class="error-color">{{ ErrorsLocalization.errorFetchingFileList }}</p>
          <button (click)="refreshClick.emit()" class="icon-button-sm" mat-icon-button>
            <mat-icon class="icon-primary">refresh</mat-icon>
          </button>
        </ui-flex-block>
      } @else {
        {{ SharedLocalization.pickAFile }}
      }
    </mat-label>
  }
  @if (hasSelectedValues()) {
    <button (click)="$event.stopPropagation(); control.reset()" class="icon-button-sm" mat-icon-button matSuffix>
      <mat-icon class="icon-primary">close</mat-icon>
    </button>
  }
  <mat-select
    [formControl]="control"
    (selectionChange)="selectedFilesChange.emit($event.value)"
    (opened)="selectOpened()"
    (closed)="selectClosed()"
    multiple
  >
    @if (showSearch()) {
      <ui-flex-block>
        <mat-form-field class="form-field-md select-search-field">
          <input
            [formControl]="searchControl"
            [placeholder]="SharedLocalization.search"
            #searchInput
            cdkStopMaterialEvents
            matInput
          />
        </mat-form-field>
      </ui-flex-block>
    }
    <!-- TODO добавить кнопку сброса -->
    @for (file of filteredList(); track file.id) {
      <mat-option class="option-lg" [style.display]="file.hidden ? 'none' : 'flex'" [value]="file">
        {{ file.name }}
      </mat-option>
    } @empty {
      <mat-optgroup class="optgroup-md">{{ SharedLocalization.emptyList }}</mat-optgroup>
    }
    @if (isAllHidden()) {
      <mat-optgroup class="optgroup-md">{{ SharedLocalization.emptyList }}</mat-optgroup>
    }
  </mat-select>
  @if (control.touched && control.hasError(CustomValidationErrors.DuplicatedFiles)) {
    <mat-error>{{ control.errors?.[CustomValidationErrors.DuplicatedFiles] }}</mat-error>
  }
</mat-form-field>
<button (click)="attachClick.emit(control.getRawValue())" class="button-lg button-secondary" mat-flat-button>
  {{ SharedLocalization.attach }}
</button>
