<mat-form-field class="form-field-lg">
  @if (isFileListLoading()) {
    <mat-label>
      <ui-flex-block>
        <p>{{ SharedLocalization.loading }}</p>
        <mat-spinner diameter="24"></mat-spinner>
      </ui-flex-block>
    </mat-label>
  } @else {
    <mat-label>
      @if (isFileListLoadErr()) {
        <ui-flex-block flexAlignItems="center">
          <p class="error-color">{{ ErrorsLocalization.errorFetchingFileList }}</p>
          <button (click)="refreshClick.emit()" class="icon-button-sm" mat-icon-button>
            <mat-icon class="icon-primary">refresh</mat-icon>
          </button>
        </ui-flex-block>
      } @else {
        {{ SharedLocalization.pickAFile }}
      }
    </mat-label>
  }
  <mat-select
    [formControl]="control"
    (selectionChange)="selectedFilesChange.emit($event.value)"
    (opened)="selectOpened()"
    (closed)="selectClosed()"
    multiple
  >
    <mat-form-field class="form-field-md search-field" [style.display]="showSearch() ? 'block' : 'none'">
      <input
        [formControl]="searchControl"
        [placeholder]="SharedLocalization.search"
        #searchInput
        cdkStopMaterialEvents
        matInput
      />
    </mat-form-field>
    <!-- TODO добавить кнопку сброса -->
    @for (file of filteredList(); track file.id) {
      <mat-option class="option-lg" [style.display]="file.hidden ? 'none' : 'flex'" [value]="file">
        {{ file.name }}
      </mat-option>
    } @empty {
      {{ SharedLocalization.emptyList }}
    }
    @if (isAllItemsHidden()) {
      <mat-optgroup>{{ SharedLocalization.emptyList }}</mat-optgroup>
    }
  </mat-select>
  @if (control.touched && control.hasError(CustomValidationErrors.DuplicatedFiles)) {
    <mat-error>{{ control.errors?.[CustomValidationErrors.DuplicatedFiles] }}</mat-error>
  }
</mat-form-field>
<button (click)="attachClick.emit(control.getRawValue())" class="button-lg button-secondary" mat-flat-button>
  {{ SharedLocalization.attach }}
</button>
