<ui-flex-block
  flex="0 0 auto"
  [gapSize]="isSmallScreen() ? '32' : '96'"
  [flexDirection]="isSmallScreen() ? 'column-reverse' : 'row'"
  [flexAlignItems]="isSmallScreen() ? 'stretch' : 'center'"
>
  <ui-flex-block [flex]="isSmallScreen() ? 'auto' : '0 1 24rem'" gapSize="32" flexDirection="column">
    <h1>{{ title() }}</h1>
    @if (message()) {
      <p>{{ message() }}</p>
    }
    @if (buttonList().length) {
      @for (button of buttonList(); track button.buttonText) {
        <button (click)="onButtonClick(button.buttonAction)" class="button-xl button-secondary" mat-flat-button>
          {{ button.buttonText }}
        </button>
      } @empty {}
    }
  </ui-flex-block>
  <ui-flex-block flex="auto" [flexAlignSelf]="isSmallScreen() ? 'center' : 'flex-start'">
    <mat-icon [svgIcon]="`qrd:${icon()}`"></mat-icon>
  </ui-flex-block>
</ui-flex-block>
