<flex-block
  flex="auto"
  [gapSize]="isSmallScreen() ? '32' : '96'"
  [flexDirection]="isSmallScreen() ? 'column-reverse' : 'row'"
  [flexAlignItems]="isSmallScreen() ? 'stretch' : 'auto'"
>
  <flex-block [flex]="isSmallScreen() ? 'auto' : '0 1 24rem'" gapSize="32" flexDirection="column">
    <h1>{{ errorConfig.title }}</h1>
    <p>{{ errorConfig.message }}</p>
    @for (button of errorConfig.buttonList; track button.buttonText) {
      <button (click)="onButtonClick(button.buttonAction)" class="qrd-button-xl" mat-flat-button>
        {{ button.buttonText }}
      </button>
    } @empty {}
  </flex-block>
  <flex-block flex="1 0 auto" [flexAlignSelf]="isSmallScreen() ? 'center' : 'flex-start'">
    <ui-icon width="100%" height="100%" [icon]="errorConfig.icon" />
  </flex-block>
</flex-block>
