<flex-block [flexDirection]="isSmallScreen() ? 'column' : 'row'" flexAlignItems="flex-start" flexJustifyContent="space-between">
  <flex-block flexDirection="column" flexAlignItems="flex-start">
    <qrd-logo>
      <p><b>QR Demo</b></p>
      <p>{{ FooterLocalization.qrForAll }}</p>
    </qrd-logo>
    <mat-form-field subscriptSizing="dynamic" class="qrd-form-field-sm">
      <mat-label>{{ SharedLocalization.language }}</mat-label>
      <mat-select [hideSingleSelectionIndicator]="true" [(ngModel)]="localeModel" (selectionChange)="setLocale($event.value, true)">
        @for (locale of selectors.availableLocales().list; track locale.value) {
          <mat-option class="qrd-option-sm" [value]="locale.value">{{ locale.viewValue }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </flex-block>
  <flex-block gapSize="2" flexDirection="column" flexAlignItems="flex-start">
    <p><b>QR Demo</b></p>
    <a class="qrd-button-anchor-md" mat-button>{{ FooterLocalization.trainingVideo }}</a>
    <a class="qrd-button-anchor-md" routerLink="/login" mat-button>{{ FooterLocalization.loginPage }}</a>
  </flex-block>
  <flex-block gapSize="2" flexDirection="column" [flexAlignItems]="isSmallScreen() ? 'flex-start' : 'center'">
    <p>
      <b>{{ FooterLocalization.services }}</b>
    </p>
    <a class="qrd-button-anchor-md" href="https://qxyz.ru" target="_blank" mat-button>QXYZ</a>
    <a class="qrd-button-anchor-md" href="https://qrdemo.qxyz.ru" target="_blank" mat-button>QR Demo</a>
  </flex-block>
  <flex-block gapSize="2" flexDirection="column" [flexAlignItems]="isSmallScreen() ? 'flex-start' : 'flex-end'">
    <p>
      <b>{{ FooterLocalization.contacts }}</b>
    </p>
    <a class="qrd-button-anchor-md" mat-button href="mailto:qrdemo@eustrosoft.org">qrdemo&#64;eustrosoft.org</a>
    <a class="qrd-button-anchor-md" mat-button href="tel:+79951161601">+7 (995) 116-16-01</a>
  </flex-block>
</flex-block>
<flex-block gapSize="4" flexAlignSelf="flex-end">
  <small>© {{ currentYear }} </small> <a class="qrd-button-anchor-sm" href="https://eustrosoft.org" target="_blank" mat-button>eustrosoft.org</a>
</flex-block>
