<ui-grid-block [gridTemplateColumns]="gridTemplateColumns()">
  <ui-grid-block gridTemplateColumns="1fr" gridJustifyItems="start">
    <qrd-logo>
      <p><b>QR Demo</b></p>
      <p>{{ FooterLocalization.qrForAll }}</p>
    </qrd-logo>
    <mat-form-field subscriptSizing="dynamic" class="form-field-sm">
      <mat-label>{{ SharedLocalization.language }}</mat-label>
      <mat-select
        [hideSingleSelectionIndicator]="true"
        [(ngModel)]="localeModel"
        (selectionChange)="updateLocale($event)"
      >
        @for (locale of selectors.configState().config.qrdConf?.langList; track locale.lang) {
          <mat-option class="option-sm" [value]="locale.lang">{{ locale.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </ui-grid-block>
  <ui-flex-block gapSize="2" flexDirection="column" flexAlignItems="flex-start">
    <p><b>QR Demo</b></p>
    <a class="primary" interactionEffect>{{ FooterLocalization.trainingVideo }}</a>
    <a class="primary" routerLink="/login" interactionEffect>{{ FooterLocalization.loginPage }}</a>
  </ui-flex-block>
  <ui-flex-block gapSize="2" flexDirection="column" [flexAlignItems]="isSmallScreen() ? 'flex-start' : 'center'">
    <p>
      <b>{{ FooterLocalization.services }}</b>
    </p>
    <a class="primary" href="https://qxyz.ru" target="_blank" interactionEffect>QXYZ</a>
    <a class="primary" href="https://qrdemo.qxyz.ru" target="_blank" interactionEffect>QR Demo</a>
  </ui-flex-block>
  <ui-flex-block gapSize="2" flexDirection="column" [flexAlignItems]="isSmallScreen() ? 'flex-start' : 'flex-end'">
    <p>
      <b>{{ FooterLocalization.contacts }}</b>
    </p>
    <a class="primary" href="mailto:qrdemo@eustrosoft.org" interactionEffect> qrdemo&#64;eustrosoft.org </a>
    <a class="primary" href="tel:+79951161601" interactionEffect>+7 (995) 116-16-01</a>
  </ui-flex-block>
</ui-grid-block>
<ui-flex-block gapSize="4" flexAlignSelf="flex-end">
  <small>v{{ version }}</small>
  <small>© {{ currentYear }}</small>
  <small>
    <a class="primary" href="https://eustrosoft.org" target="_blank" interactionEffect> eustrosoft.org </a>
  </small>
</ui-flex-block>
