<data-view
  [displayType]="selectors.displayType()"
  (displayTypeChange)="actions.setDisplayType($event.value)"
  (advancedSearchClicked)="openAdvancedSearch()"
>
  <view-list-item title="QR №412412412" [isPreviewShown]="true">
    <ng-container attributes>
      <ui-flex-block gapSize="4">
        <ui-badge>1.5MB</ui-badge>
        <ui-badge>Изм. 18.03.2025 17:36</ui-badge>
      </ui-flex-block>
    </ng-container>
    <ng-container content>
      <p ellipsis>
        Наименование: gawgawgmawglawkgklawmn alkwfnalkf knalkwnf lkanf gawjawgpj paowgjapow gjpaogj oapwgjpoag j
      </p>
      <p ellipsis>
        Описание: gawgawgmawglawkgklawmn alkwfnalkf knalkwnf lkanf gawjawgpj paowgjapow gjpaogj oapwgjpoag j
      </p>
    </ng-container>
    <ng-container menu-items>
      <button mat-menu-item>
        <mat-icon>voicemail</mat-icon>
        Check voice mail
      </button>
      <button mat-menu-item>Item 2</button>
    </ng-container>
  </view-list-item>
</data-view>
