<ui-flex-block flexAlignItems="center" overflow="hidden" flexJustifyContent="flex-start" flex="auto">
  <a
    [routerLink]="navigateTo()"
    [relativeTo]="activatedRoute"
    class="mini-fab-icon-primary-button-circle-md"
    mat-mini-fab
  >
    <mat-icon class="icon-md icon-on-secondary">chevron_left</mat-icon>
  </a>
  <ng-content select="[heading]"></ng-content>
</ui-flex-block>
<ui-flex-block
  [gapSize]="isSmallScreen() ? '8' : '16'"
  flexAlignItems="center"
  flexJustifyContent="flex-end"
  flex="0 1 auto"
  [flexWrap]="isSmallScreen() ? 'wrap' : 'nowrap'"
>
  <ng-content select="[action-buttons]"></ng-content>
</ui-flex-block>
