<mat-checkbox [checked]="isSelected()" (change)="checkboxChanged.emit($event.checked)" />
<a [routerLink]="navigateTo()" [relativeTo]="activatedRoute" ui-flex-block flex="auto" flexAlignItems="center" ellipsis>
  @if (!isSmallScreen() && isPreviewShown()) {
    <ng-content select="[preview]" />
  }
  <ui-flex-block flexDirection="column" gapSize="4" flex="auto" overflow="hidden">
    <ui-flex-block flexDirection="row" flexJustifyContent="space-between">
      <p class="is-primary is-bold">{{ title() }}</p>
      @if (!isSmallScreen()) {
        <ng-content select="[attributes]" />
      }
    </ui-flex-block>
    <ng-content select="[content]" />
  </ui-flex-block>
</a>
<button class="icon-button-md" mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon class="icon-primary icon-md">more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <ng-content select="[menu-items]" />
</mat-menu>
