<mat-checkbox [checked]="isSelected()" (change)="checkboxChanged.emit($event.checked)" />
<a [routerLink]="navigateTo()" [relativeTo]="activatedRoute" ui-flex-block flex="auto" flexAlignItems="center" ellipsis>
  @if (!isSmallScreen() && isPreviewShown()) {
    <ng-content select="[preview]" />
  }
  <ui-flex-block flexDirection="column" gapSize="4" flex="auto" overflow="hidden">
    <ui-flex-block flexDirection="row" flexJustifyContent="space-between">
      <p class="primary-color bold" ellipsis>{{ title() }}</p>
      @if (!isSmallScreen()) {
        <ng-content select="[attributes]" />
      }
    </ui-flex-block>
    <ng-content select="[content]" />
  </ui-flex-block>
</a>
<more-menu>
  <ng-content select="[menu-items]" />
</more-menu>
