// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@forward 'styles/reset';
@forward 'styles/global';
@forward 'styles/typography';
@forward 'styles/animations';
@forward 'styles/fonts';
@forward 'styles/material-overrides';
@use 'styles/themes/theme' as theme;

html {
  @include theme.app-theme;

  color-scheme: light dark;
}

html,
body {
  color: var(--mat-sys-on-background);
  height: 100%;
  background: var(--mat-sys-background);
}

body {
  margin: 0;
  font-size: 16px;
  font-family: Lato, sans-serif;
}
