@use 'styles/mixins' as mixins;

:host {
  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(100%);
    }
  }

  .skeleton-shimmer {
    inset: 0;
    position: absolute;
    animation: shimmer 1.5s infinite;
    background: linear-gradient(
      90deg,
      rgb(255, 255, 255, 0) 0%,
      rgb(255, 255, 255, 0.5) 50%,
      rgb(255, 255, 255, 0) 100%
    );
  }

  @include mixins.hover {
    cursor: wait;
  }
}
