@use '@angular/material' as mat;
@use 'styles/mixins' as mixins;
@use 'styles/breakpoints' as bp;
@use 'sass:map';

:host {
  display: flex;
  flex-direction: column;

  .toolbar {
    margin-bottom: mixins.rem(32);
  }

  .search-bar {
    @include mat.form-field-overrides(
      (
        outlined-outline-width: 0,
        outlined-focus-outline-width: 0,
        outlined-container-shape: 28px,
      )
    );

    flex: auto;
    width: 100%;
    background: var(--mat-sys-surface-container-high);
    border-radius: 28px;
  }

  @media #{map.get(bp.$breakpoints, xsmall)} {
    .toolbar {
      margin-bottom: mixins.rem(16);
    }
  }

  @media #{map.get(bp.$breakpoints, small)} {
    .toolbar {
      margin-bottom: mixins.rem(16);
    }
  }
}
