@use '@angular/material' as mat;
@use 'styles/mixins' as mixins;
@use 'styles/breakpoints' as bp;
@use 'sass:map';

:host {
  gap: mixins.rem(32);
  display: grid;

  .search-bar {
    @include mat.form-field-overrides(
      (
        outlined-outline-width: 0,
        outlined-focus-outline-width: 0,
        outlined-container-shape: 28px,
      )
    );

    flex: auto;
    background: var(--mat-sys-surface-container-high);
    border-radius: mixins.rem(28);
  }

  @media #{map.get(bp.$breakpoints, xsmall)} {
    gap: mixins.rem(16);
  }

  @media #{map.get(bp.$breakpoints, small)} {
    gap: mixins.rem(16);
  }
}
