<ui-grid-block [gridTemplateColumns]="isSmallScreen() ? '1fr' : '1fr auto'">
  <ui-flex-block gapSize="8">
    <mat-form-field class="form-field-md search-bar" subscriptSizing="dynamic">
      <input
        [value]="searchValue()"
        (input)="searchValueChange.emit(searchInput.value)"
        (keydown.enter)="searchClicked.emit()"
        [placeholder]="SharedLocalization.search"
        #searchInput="matInput"
        matInput
      />
      @if (!isSmallScreen()) {
        <button
          (click)="searchInput.value = ''; searchValueChange.emit('')"
          [toggleVisibility]="!!searchInput.value"
          matSuffix
          class="icon-button-sm"
          mat-icon-button
        >
          <mat-icon class="icon-primary">clear</mat-icon>
        </button>
      }
      <button (click)="searchClicked.emit()" matSuffix class="icon-button-sm" mat-icon-button>
        <mat-icon class="icon-primary">search</mat-icon>
      </button>
    </mat-form-field>
    @if (!isSmallScreen()) {
      <button (click)="advancedSearchClicked.emit()" class="fab-md fab-secondary" mat-fab>
        <mat-icon class="icon-on-secondary">manage_search</mat-icon>
      </button>
    }
    <ng-content select="[view-settings]" />
  </ui-flex-block>
  <ui-flex-block gapSize="8" flexJustifyContent="flex-end">
    @if (isSmallScreen()) {
      <button (click)="advancedSearchClicked.emit()" class="fab-md fab-secondary" mat-fab>
        <mat-icon class="icon-on-secondary">manage_search</mat-icon>
      </button>
    }
    <mat-button-toggle-group
      [value]="displayType()"
      (change)="displayTypeChange.emit($event)"
      [hideSingleSelectionIndicator]="true"
    >
      <mat-button-toggle class="button-toggle-md" value="list">
        <ui-flex-block gapSize="4" flexAlignItems="center" flexDisplay="inline-flex">
          <mat-icon class="icon-primary">menu</mat-icon>
          <p>{{ SharedLocalization.list }}</p>
        </ui-flex-block>
      </mat-button-toggle>
      <mat-button-toggle class="button-toggle-md" value="table">
        <ui-flex-block gapSize="4" flexAlignItems="center" flexDisplay="inline-flex">
          <p>{{ SharedLocalization.table }}</p>
          <mat-icon class="icon-primary">table</mat-icon>
        </ui-flex-block>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </ui-flex-block>
</ui-grid-block>
<ng-content />
