@let cols = displayedColumns();
<table-container
  matSort
  #sort="matSort"
  [isLoading]="selectors.isTemplateListLoading()"
  [isLoadErr]="selectors.isTemplateListLoadErr()"
  (selectionChanged)="actions.setSelectedTemplates($event)"
  (refresh)="actions.fetchTemplateList(destroyRef)"
>
  <ng-container matColumnDef="name">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ SharedLocalization.name }}</th>
    <td mat-cell *matCellDef="let element">
      <a
        [routerLink]="`../${element.id}`"
        [relativeTo]="activatedRoute"
        [title]="element.name"
        textInteractionEffect
        class="button-anchor-md"
        mat-button
      >
        {{ element.name }}
      </a>
    </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ SharedLocalization.description }}</th>
    <td mat-cell *matCellDef="let element" [title]="element.description">{{ element.description }}</td>
  </ng-container>
  <ng-container matColumnDef="created">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ SharedLocalization.createDate }}</th>
    <td mat-cell *matCellDef="let element">{{ element.created | date: 'short' }}</td>
  </ng-container>
  <ng-container matColumnDef="updated">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ SharedLocalization.updateDate }}</th>
    <td mat-cell *matCellDef="let element">{{ element.updated | date: 'short' }}</td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>{{ SharedLocalization.actions }}</th>
    <td mat-cell *matCellDef="let element">
      <more-menu>
        <a [routerLink]="`../${element.id}`" [relativeTo]="activatedRoute" mat-menu-item>
          <mat-icon>outbound</mat-icon>
          {{ SharedLocalization.open }}
        </a>
        <a
          [routerLink]="`/${AppRoutes.qrCards}/${AppRoutes.new}`"
          [queryParams]="{ templateId: element.id }"
          mat-menu-item
        >
          <mat-icon>add_circle</mat-icon>
          {{ SharedLocalization.createCard }}
        </a>
        <a [routerLink]="`../${element.id}/${AppRoutes.edit}`" mat-menu-item>
          <mat-icon>edit</mat-icon>
          {{ SharedLocalization.edit }}
        </a>
        <button (click)="actions.deleteTemplates([element.id], destroyRef)" mat-menu-item>
          <mat-icon>delete</mat-icon>
          {{ SharedLocalization.delete }}
        </button>
      </more-menu>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="cols"></tr>
  <tr mat-row *matRowDef="let row; columns: cols"></tr>
</table-container>
