<table-container
  matSort
  #sort="matSort"
  [isLoading]="selectors.isFileListLoading$()"
  (selectionChanged)="actions.setSelectedFiles($event)"
>
  <ng-container matColumnDef="name">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ SharedLocalization.name }}</th>
    <td mat-cell *matCellDef="let element">
      <a
        [routerLink]="`../${element.id}`"
        [relativeTo]="activatedRoute"
        [title]="element.name"
        textInteractionEffect
        class="button-anchor-md"
        mat-button
      >
        {{ element.name }}
      </a>
    </td>
  </ng-container>
  <ng-container matColumnDef="fileName">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ SharedLocalization.originalName }}</th>
    <td mat-cell *matCellDef="let element" [title]="element.fileName">{{ element.fileName }}</td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ SharedLocalization.description }}</th>
    <td mat-cell *matCellDef="let element" [title]="element.description">{{ element.description }}</td>
  </ng-container>
  <ng-container matColumnDef="fileSize">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ FilesLocalization.fileSize }}</th>
    <td mat-cell *matCellDef="let element">{{ element.fileSize | bytesToSize }}</td>
  </ng-container>
  <ng-container matColumnDef="isPublic">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ SharedLocalization.isPubliclyAvailable }}</th>
    <td mat-cell *matCellDef="let element">{{ element.isPublic | boolToText }}</td>
  </ng-container>
  <ng-container matColumnDef="created">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ SharedLocalization.createDate }}</th>
    <td mat-cell *matCellDef="let element">{{ element.created | date: 'short' }}</td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>{{ SharedLocalization.actions }}</th>
    <td mat-cell *matCellDef="let element">
      <more-menu>
        <a [routerLink]="`../${element.id}`" [relativeTo]="activatedRoute" mat-menu-item>
          <mat-icon>outbound</mat-icon>
          {{ SharedLocalization.open }}
        </a>
        <a [routerLink]="`../${element.id}/${AppRoutes.edit}`" mat-menu-item>
          <mat-icon>edit</mat-icon>
          {{ SharedLocalization.edit }}
        </a>
        <button (click)="actions.deleteFiles([element.id], destroyRef)" mat-menu-item>
          <mat-icon>delete</mat-icon>
          {{ SharedLocalization.delete }}
        </button>
      </more-menu>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table-container>
