<mat-sidenav-container
  (backdropClick)="uiSidenavService.backDropClick()"
  [hasBackdrop]="uiSidenavService.sidenavConfig().hasBackdrop"
>
  <mat-sidenav
    [class]="`width-${uiSidenavService.sidenavConfig().width}`"
    [position]="uiSidenavService.sidenavConfig().position"
    [mode]="uiSidenavService.sidenavConfig().mode"
    [autoFocus]="uiSidenavService.sidenavConfig().autoFocus"
    [opened]="uiSidenavService.isOpen()"
  >
    <ng-container
      *ngComponentOutlet="uiSidenavService.sidenavCmp(); inputs: uiSidenavService.sidenavConfig().inputs"
    ></ng-container>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content />
  </mat-sidenav-content>
</mat-sidenav-container>
