@use '@angular/material' as mat;

:host {
  flex: auto;
  display: flex;
  flex-direction: column;

  .width-sm {
    @include mat.sidenav-overrides(
      (
        container-width: 360px,
      )
    );
  }

  .width-md {
    @include mat.sidenav-overrides(
      (
        container-width: 720px,
      )
    );
  }

  .width-lg {
    @include mat.sidenav-overrides(
      (
        container-width: 1080px,
      )
    );
  }

  .width-full {
    @include mat.sidenav-overrides(
      (
        container-width: 100%,
      )
    );
  }
}
